[2019-02-12 13:16] ferrannp opened #4 "Add "New page" into the example"
Since this has landed #2, we can add this into our example.

[2019-02-13 06:49] danilobuerger opened #6 "Typescript support"
Would typings be welcome here, or should they be kept at `DefinitelyTyped`?

[2019-02-13 14:00] ferrannp commented on #6
Hey! I don't see any problem on having them here probably under `typings/index.d.ts` as long as someone keep them up to date 👍

[2019-02-14 10:19] danilobuerger opened #7 "Module `React` does not exist in the Haste module map"
When trying to use the viewpager with react-native 0.57.8, I get the following error when bundling:

[code]

My first guess is that the requires have to be changed since its no longer part of the react-native repos.

[2019-02-14 11:20] ferrannp commented on #7
You are right, my bad!

[2019-02-14 11:57] #7 closed

[2019-02-15 14:59] cpojer opened #11 "[ViewPagerAndroid] Incorrect behaviour of Text with onPress"
* * *
  This issue was originally created by @Jpunt as facebook/react-native#18097.
  * * *

  ### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://facebook.github.io/react-native/docs/contributing.html)?

Yes

### Environment

Environment:
  OS: macOS High Sierra 10.13.3
  Node: 8.2.1
  Yarn: 0.27.5
  npm: 5.3.0
  Watchman: 4.9.0
  Xcode: Xcode 9.2 Build version

[2019-02-15 15:03] Jpunt commented on #11
Thanks for recreating the issue 👍

[2019-02-18 13:06] #6 closed

[2019-02-19 14:22] #4 closed

[2019-02-20 12:27] danilobuerger opened #12 "Package size is huge"
It seems like the example dir is bundled within the npm package resulting in a huge package size.

[2019-02-20 12:31] danilobuerger opened #13 "Fails with jest"
Using `ViewPagerAndroid` within a test fails with:

[code]

Adding the repos to `transformIgnorePatterns` solves the problem. But wouldn't it be better to transpile this to ES5 when bundling?

[2019-02-20 21:11] ferrannp commented on #12
I will probably use `files` for it.

[2019-02-20 21:14] sibelius commented on #12
related to this one https://github.com/react-native-community/react-native-camera/issues/2000

check this https://github.com/react-native-community/react-native-camera/pull/2001

[2019-03-15 07:45] #12 closed

[2019-03-15 07:45] #13 closed

[2019-03-15 14:45] elizamaria opened #16 "Unable to resolve module `UnimplementedView` on IOS"
Is this a bug report?
Yes

Have you read the Contributing Guidelines?
Yes

Environment:
OS: macOS High Sierra 10.13.3
Node: 8.2.1
npm: 5.3.0
Xcode: 10

Packages:
react: 16.8.3
react-native: 0.59.1

Steps to Reproduce:
Import ViewPager
Run application on IOS
Getting this error:

[2019-03-18 09:39] danilobuerger commented on #16
Might be related to #7

[2019-03-18 09:52] sharief-edv opened #18 "InvariantViolation : requireNativeComponent RNCViewpager was not found in the UI manager"
![image](https://user-images.githubusercontent.com/36036378/54521761-962b0c80-4991-11e9-96c9-34fa79518aa1.png)

[2019-03-18 11:04] ferrannp commented on #18
It looks like you did not run `react-native link @react-native-community/viewpager` ?

[2019-03-18 15:58] sharief-edv commented on #18
I do run that , But the mistake i have done before was **_(I DID NOT MENTION IT FIRST )_** , i didn't  run yarn add **@react-native-community/viewpager** at first  instead i have ran the _npm install --save  @react-native-community/viewpager_  as i thought i have to do npm not  yarn .  After i realized and ran yarn command  followed by link command , i am getting the same error.

[2019-03-18 16:01] ferrannp commented on #18
Is the `example` in this repository working for you?

[2019-03-18 17:09] sharief-edv commented on #18
No @ferrannp , I am getting error

[2019-03-25 03:35] MrLaibin opened #19 "The `RNCViewpager` pod failed to validate due to 1 error:Missing required attribute `homepage`."
my podfiles
`
   pod 'RNCViewpager', :path => "#{RNRootDir}/@react-native-community/viewpager/ios"

`
pod install
[code]
vim ./ios/RNCViewpager.podspec
[code]
pod install ,success!

[2019-04-12 02:11] congnguyen91 opened #20 "CocoaPod support"
- Hi, bring pod spec file to git, home, please :)
Thanks

[2019-04-14 13:28] elizamaria commented on #16
It's fixed now. I think it's because of this import fix: https://github.com/react-native-community/react-native-viewpager/pull/8

[2019-04-14 22:14] #16 closed

[2019-04-15 12:15] #20 closed

[2019-04-15 12:16] ferrannp commented on #19
Fixed here #21.

[2019-04-15 12:16] #19 closed

[2019-04-15 12:19] uinz commented on #20
iOS supported?

[2019-04-18 05:53] SSWeedie commented on #18
I am also getting this error, so what is the solution ?

[2019-04-18 14:46] ferrannp commented on #18
What about not linking / using it in iOS for now? It is not implemented on iOS anyway.

[2019-04-20 08:31] SSWeedie commented on #18
Still get the same error without linking

[2019-04-29 15:04] sibelius opened #23 "Error with react-native link"
When I try to run `react-native link @react-native-community/viewpager`

I've got this error:

failed to get dependency config

@react-native-community/viewpager: ^1.1.6
react-native-cli: 2.0.1
react-native: 0.59.0

[2019-04-30 09:45] ferrannp opened #24 "Add iOS support"
We might like to try and add a wrapper for a native component. Most likely [UIPageViewController](https://developer.apple.com/documentation/uikit/uipageviewcontroller) ?

[2019-04-30 09:46] ferrannp commented on #18
@SSWeedie can I see some code? You should only link it on Android but specially on JS, you should only require it for Android.

[2019-04-30 09:48] ferrannp opened #25 "Add Tabs connected to ViewPager"
Should be fairly simple to connect the `ViewPager` to tabs like is done here: [https://github.com/madhu314/react-native-tabbed-view-pager-android](https://github.com/madhu314/react-native-tabbed-view-pager-android)

The above library is out of date and it uses a broken version of `ViewPager`. We could offer tabs as optional and nice to have.

[2019-04-30 09:58] ferrannp commented on #23
Have you tried it in a new `react-native init` project with react-native `0.59.5`? I just did it again and the linking works for me.

[code]

Cam you try those steps?

[2019-04-30 10:48] renishdeveloper commented on #18
Getting the same error
Invariant Violation: Invariant Violation:
requireNativeComponent : "RNCViewPager" was not found in the UIManager".

I run both the commands
1.     For installation
        npm install @react-native-community/viewpager
2.     For linking the library
        react-native link @react-native-community/viewpager

System configuration :
    System:
      OS: Linux 4.15 Ubuntu 18.0

[2019-04-30 11:41] sibelius commented on #23
we've got this error on our monorepo setup

https://github.com/entria/entria-fullstack/tree/master/packages/app

[2019-04-30 12:01] ferrannp commented on #23
Have you tried linking manually?

[2019-04-30 12:02] ferrannp commented on #18
Can someone post a repo where this can be reproduced?

[2019-04-30 12:02] sibelius commented on #23
manual link works

I want understand why react-native link is showing this error

[2019-04-30 13:38] thymikee commented on #23
@sibelius have you tried running with `--projectRoot` flag? I think that may do the trick. We've rewritten that part in v2, but we still need testing in monorepo setups. Looks like we can use Entria for e2e testing, cc @grabbou

[2019-05-06 09:30] renishdeveloper commented on #18
@ferrannp Here is the complete code with the implementation steps :

For installation
npm install @react-native-community/viewpager

For linking the library
 react-native link @react-native-community/viewpager

Not followed the manual steps as the react-native link @react-native-community/viewpager command does it for me.

Import view pager
import ViewPager from "@react-native-community/viewpager"

[2019-05-10 09:54] AppUU commented on #18
Add the RNCViewPagerPackage class to your list of exported packages.

[2019-05-10 12:08] ferrannp commented on #18
@renishdeveloper that works for me. Do you have a repository I can try?

[2019-05-14 08:47] ptrocki commented on #24
@ferrannp I take this ticket. Please assign me to this ticket.

[2019-05-21 22:53] saxenanickk commented on #24
@ferrannp I created ViewPager for my React Native project. I provided support for iOS. Shall I make a PR with that code ?

[2019-05-21 23:32] ferrannp commented on #24
Hey @saxenanickk, thanks for your interest. However, we have @ptrocki currently working on it in his PR #28. Feel free to jump in to the PR discussion if you like 😃.

[2019-05-22 15:17] Noitidart commented on #25
Yes this for sure!

[2019-05-22 15:20] Noitidart commented on #24
So so awesome! The community is supporting this long forgotten component better than FB! I'm so pleasantly surprised. I was thinking that when components got jettisoned to the community, which has no financial backing, I was thinking the modules/components would turn to rubble. Amazing work folks I really appreciate it!

[2019-05-23 13:40] ptrocki opened #29 "[Discuss] Obsolete gradle method"
# Question
Gradle returns warning:

This is explanation : https://github.com/facebook/react-native/pull/23103
This is temporary solution:
https://stackoverflow.com/questions/54420060/warning-api-variant-getmergeassets-is-obsolete-android-studio-3-3

Should we update update react native, to suppress this warning ?

[2019-05-24 07:26] troZee opened #30 "Infinity Scroll"
In some cases, view should be scrollable from last page to first page or from first page to last page. Now lib support it using setPage method. It is nice to have an opportunity to do it the same using swipe.

[2019-06-04 20:05] sangyakhare commented on #18
![image](https://user-images.githubusercontent.com/49403660/58910059-a1651d00-86e2-11e9-9b5c-d759fe65de16.png)

And its on Android
Same error here. I am also struggling with a similar error stating RNCWebview not found in UIManager for WebView as well for Android. Its very frustrating.

[2019-06-05 08:19] huming-china opened #31 "Loading large amounts of data can be slow"
Loading large amounts of data can be slow

[2019-06-05 08:41] ptrocki commented on #31
Hi, thank you for initial testing my approach. Can you provide, how may items, do you want to load ?

[2019-06-07 18:46] AA25 commented on #18
I don't know if this is useful or not, but I was also getting this issue with a fresh new project. I tried manually linking but that didn't seem to fix the problem. Again, since it was a new project I decided to delete the project and tried again. But this time adding and linking viewpager before running the app on android and creating a component making use of viewpager. It works now thankfully t

[2019-06-10 16:42] ptrocki commented on #18
I checked examples and work. I also tested a fresh project and  I ran below commands
[code]
Both commands `react-native run-ios` and `react-native run-android` work with no errors.
My configuration:
[code]
Did you linked this lib manually or used above commands ?
@AA25
If you want to link lib manually, checkout example dir.

[2019-06-11 08:24] AmeerHamzaRiaz commented on #24
hi, guys any update on this ?

[2019-06-11 08:37] ptrocki commented on #24
Almost all android api is covered. There is some bugs, that we want to fix before merge. Feel free to test and comment https://github.com/react-native-community/react-native-viewpager/pull/28

[2019-06-13 18:36] ferrannp commented on #31
@huming-china could you provide more detail? Maybe a repro or a snack? I have no idea if this is a problem of the ViewPager or not. Thank you!

[2019-06-13 18:38] ferrannp commented on #30
The native `ViewPager` does not support such behavior by default so I am not really sure we want to implement it here.

[2019-06-18 10:09] forrest23 opened #32 "error @react-native-community_viewpager:compileDebugJavaWithJavac"
# Question

"@react-native-community/viewpager": "^1.1.7",
"react": "16.8.3",
 "react-native": "^0.59.9",

when i run  react-native run-android  , i get this error ,please help!

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':@react-native-community_viewpager:compileDebugJavaWithJavac'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter$3.accept(Execut

[2019-06-18 10:11] ptrocki commented on #32
Checkout: https://github.com/react-native-community/react-native-viewpager/issues/18#issuecomment-500488234

[2019-06-18 11:45] #31 closed

[2019-06-18 11:48] ferrannp commented on #23
@sibelius not sure what is the status of this but if manual setup works and automatic does not for you, I think this is an issue for https://github.com/react-native-community/cli.

[2019-06-18 11:48] #23 closed

[2019-06-18 13:40] Villar74 commented on #32
got the same issue about 4 hours ago, nothing changed just next build crashed

[2019-06-18 16:05] ferrannp commented on #32
@forrest23 or @Villar74 do you have any code to reproduce this? Did you link the library? Did you try linking it manually?

[2019-06-19 07:38] forrest23 commented on #32
@ferrannp @Villar74

I solve this problem by  migrate to AndroidX  use android studio, I don't know why！

But when i use  import { ViewPagerAndroid } from "@react-native-community/viewpager";  in some modules like react-native-scrollable-tab-view, I got this error
![image](https://user-images.githubusercontent.com/6458126/59745348-30f3f980-92a7-11e9-8c9a-282fae94cc24.png)

"@react-native-community

[2019-06-19 08:26] forrest23 commented on #32
my mistake should be  import ViewPagerAndroid from "@react-native-community/viewpager";

[2019-06-23 17:01] DanielVenturini commented on #18
I've linked the `react-native-viewpager` using the command in Android, but it doesn't link in following file:

`android/app/src/main/.../MainApplication.java`

After I linked manually, it works for me.

For full manually link:
https://github.com/react-native-community/react-native-viewpager/blob/master/README.md#android

[2019-06-24 10:49] Michael-lu-ke commented on #32
@forrest23 I've migrated to AndroidX, but I still have the same problem.  "react-native": "0.60.0-rc.2"

[2019-06-26 20:05] SenAlexandru opened #33 "onPageSelected not working correctly"
My issue is quite basic.
It might be something stupid but i haven't found any solution online anything related to it in the documentation.
I try to use the onPageSelected prop, expecting a number.
`onPageSelected={this.onPageSelected}`
and the method is
`onPageSelected(pageIndex){
        console.log(pageIndex)
    }`
The output is a SyntheticEvent, and not a number.

[2019-06-27 10:13] ferrannp commented on #33
See the example: https://github.com/react-native-community/react-native-viewpager/blob/master/example/ViewPagerAndroidExample.android.js#L115-L117

[code]

[2019-06-27 10:13] #33 closed

[2019-07-01 09:50] ArrayZoneYour opened #34 "page number > 2 leads to brief off by one error flicker"
# Bug

setPageWithoutAnimation to the page with the same content lead to a short flicker

## Environment info

React native info output:

[code]

Library version: 1.1.7

## Steps To Reproduce

[code]

1. react-native init a new project
2. replace the component in App.js with the code above
3. click the text in the first page, flicker happening
4. remove the last child node

[code]

It will not fli

[2019-07-01 12:44] 13554599576 opened #35 "How to autoplay"
# How should I let my pictrue to autoplay? Please, let someone help me.

[2019-07-03 08:30] ferrannp opened #36 "Add react-native-community eslint"
See https://github.com/facebook/react-native/tree/master/packages/eslint-config-react-native-community.

[2019-07-03 10:22] masoudltf opened #37 "Add support for previous an next item visibility"
Add support for previous an next item visibility like [react-native-snap-carousel](https://github.com/archriss/react-native-snap-carousel)

[2019-07-15 12:05] ferrannp commented on #35
There is no such feature. You can probably do it yourself though using something like `setState` to change pages and having a timeout to make it automatically.

[2019-07-15 12:05] #35 closed

[2019-07-24 13:54] suupham2506 opened #38 "Not working on android react native 0.60.3"
# Bug

## Environment info

React native info output:

[code]

Library version: x.x.x

## Steps To Reproduce

1.
2.
...

Describe what you expected to happen:

1.
2.

## Reproducible sample code

<img width="1440" alt="Screen Shot 2019-07-24 at 8 48 19 PM" src="https://user-images.githubusercontent.com/28852565/61798993-7da59400-ae54-11e9-9149-d1ccd03714b0.png">

[2019-07-25 02:22] #38 closed

[2019-07-30 10:31] ferrannp commented on #24
You can follow the process here: https://github.com/react-native-community/react-native-viewpager/projects/1.

[2019-08-01 08:55] vgvishal538 commented on #32
Did anyone find any solution?

[2019-08-06 18:12] fossage commented on #32
I was able to fix it by adding:
[code]
to my `android/app/build.gradle` file.

Note that if you have not set up an `ext.supportLibVersion` variable in your `android/build.gradle` file you will have to define your version explicitly.  In my case this would be:
[code]

[2019-08-11 22:27] Fortidude opened #47 "Broken on React-native 0.60 because of ViewPagerAndroid"
# Bug

Application crashes on when trying to use this library. The output error:

[code]
I can see it's located in ViewPagerAndroid, but according to React-Native documentation, from ViewPageAndroid it says:

So here I am.

## Environment info

**react: 16.8.6 => 16.8.6**
**react-native: 0.60.4 => 0.60.4**

**Library version: 1.1.7**
_why? In the release list I can't see it_

## Steps To Reproduce

[2019-08-13 08:22] linqiangsheng commented on #32
I get the same error. Did anyone find any solution?

[2019-08-15 22:48] fossage commented on #32
@linqiangsheng Did you try the steps I described above?

[2019-08-19 09:42] DrobyshevAlex commented on #18
How i can use https://github.com/react-native-community/react-native-viewpager/blob/master/README.md#android
if i use expo? I have't 'android' folder

[2019-08-30 05:08] jearyvon opened #48 "please support androidX"

[2019-09-01 10:26] pmyagkov commented on #47
This is actually a showstopper. We can't deploy a new version of the app because of the issue. After painful upgrade to 0.60.*.

[2019-09-01 11:45] ferrannp commented on #47
Hey,

I just created a new project with `react-native init` which contains `react-native@0.60.5`, I ran `yarn add @react-native-community/viewpager` and then `react-native run-android` with the README example and everything works fine.

Notice that `react-native run-android` will run `jetifier`:

[code]

With this it should work. I gotta make a new version of the library that is compatible with An

[2019-09-01 12:02] #47 closed

[2019-09-01 12:03] ferrannp commented on #48
I will create a version using Android X by default. For now, you have to use https://github.com/mikehardy/jetifier. If you run `react-native run-android` on RN >= 0.60.x, it should run jetifier for you by default.

[2019-09-01 12:03] #48 closed

[2019-09-01 12:05] ferrannp commented on #18
@DrobyshevAlex you cannot as this library is not supported by Expo. You would have to eject your project.

I am closing this issue as there is no reproducible repro and it is working fine for me in the `example` and in a new project created with `react-native init.

[2019-09-01 12:05] #18 closed

[2019-09-01 12:05] #32 closed

[2019-09-01 12:07] #29 closed

[2019-09-01 12:08] ferrannp commented on #29
Seems unrelated to our project. It is just depending on the RN version the consumer is using so I guess we can close it for now as we are gonna be updating this repo anyway.

[2019-09-10 13:05] IsmetGlumcevic opened #49 "App crash after slide of 10 pages"
RN 0.60

I have 600 pages. This is code. After fast lsiding of 10 pages app crash.
Doas viewager has RTL support?

       <ViewPager
             style={{flex:1}}
              initialPage={5}>
              {dataar.map((item, index) => {
                    return(
                        <View key={index + 1}>
                          {Object.values(item)[0].map((it, key) => {

[2019-09-17 16:16] ivan3177 opened #51 "[V2] scrollEnabled set to false brakes all touch events"
# Bug

If scrollEnabled of ViewPager is set to false on iOS content of initial page inside native view pager stops getting all touch events.

## Environment info

React native info output:

[code]

Library version: 2.0.0

## Steps To Reproduce

1. Use native ViewPager component on iOS
2. Set scrollEnabled to false
3. Initial page of ViewPager stop receiving touch events

Describe what you expected

[2019-09-20 07:38] ptrocki commented on #49
This component renders all children immediately, so in above case app will crash. We need to figure out, how to handle this case.

[2019-09-20 07:51] ptrocki commented on #51
Hey @ivan3177 , thank you for reporting this issue. I can reproduce it in example app. I will take a look onto it.

[2019-09-20 08:41] IsmetGlumcevic commented on #49
I reduced it to 30 items and again app crash.

[2019-09-20 08:55] dratwas commented on #51
Hey, @ivan3177 thanks for reporting this issue! Could you please check it on new 2.0?
@ptrocki made a fix and it is merged already 🎉

[2019-09-20 09:45] ivan3177 commented on #51
@ptrocki, @dratwas, yes, bug that I found was fixed. But another one, hard to reproduce bug appeared.

Now sometimes even with scollEnabled = false ViewPager can still be scrolled on iOS. Not always, it happens in about 25% of app restarts/reloads. Should I open new issue about it?

[2019-09-20 09:52] ptrocki commented on #51
Did you scroll using your hand or triggering scroll method? `scollEnabled = false` only work for first one. The second one you have to handle by yourself.

[2019-09-20 11:05] ivan3177 commented on #51
@ptrocki I did it using hand. There was no bug before the touch events fix so my guess it's somehow related to it. But I'm not sure how to show and example of what's happening, apparently if I do reload or restart app for a bit(5-6 times) eventually I'll get into situation when ViewPager is scrolled using finger while scrollEnabled was set to false

[2019-09-27 07:49] tomaszczura commented on #24
Hi guys, do you have any idea when the iOS support might be released?

[2019-09-27 09:36] ferrannp commented on #51
@ivan3177 as the issue you reported was resolved (thank you!). If you are experimenting a different problem, please open a new issue and if you can add some reproduction code, steps and/or some gif or images.

[2019-09-27 09:36] #51 closed

[2019-09-28 13:30] LunguIonut007 commented on #36
Hi. Can I have a go at it?

[2019-09-28 17:56] animaks opened #55 "[!] The `RNCOpenDoc` pod failed to validate due to 1 error:"
Getting this issue when running 'pod install'

Fetching podspec for `RNCOpenDoc` from `../node_modules/react-native-open-doc/ios`
[!] The `RNCOpenDoc` pod failed to validate due to 1 error:
    - ERROR | attributes: Missing required attribute `homepage`.
    - WARN  | source: The version should be included in the Git tag.
    - WARN  | description: The description is shorter than the summary.

Alt

[2019-09-30 11:02] ferrannp commented on #55
@animaks I think you are in the wrong repository?

[2019-09-30 11:02] #55 closed

[2019-09-30 11:12] ferrannp commented on #49
@IsmetGlumcevic you should probably add few pages and then add them dynamically while you move between them. Could you also share a repository where we can reproduce it?

[2019-10-01 14:45] LunguIonut007 commented on #36
Added functionality in pull request #56.

[2019-10-04 10:53] Kasemyassine2 commented on #49
@ferrannp  this scenario happened with us with low memory phones after logging it on android studio it showed this error that it's out of memory after 100 scroll.

As for rtl I just did the a replica with the following function edited in ReactViewPage.java

/*package*/ void addViewToAdapter(View child, int index) {
    getAdapter().addView(child, 0);
  }

so instead of adding at the end of the lis

[2019-10-04 12:36] ferrannp commented on #24
DONE!

[2019-10-04 12:36] #24 closed

[2019-10-04 15:09] Noitidart commented on #24
Niiiiiice!!!

[2019-10-05 18:35] eXist-FraGGer opened #62 "Wrong import with Typescript"
First I want to say - **thank you for your work!**

# Bug
The **ViewPage** will be undefined If we use this import.
[code]

Now I have to do something like this:

[code]

## Environment info

- "typescript": "3.6.3"

- Library version: 2.0.0

React native info output:

[code]

##

Please use `export default`.
We will be able to import this library and it will match the type

[2019-10-05 18:53] eXist-FraGGer commented on #25
It is better to use and update this library.
https://github.com/ptomasroos/react-native-scrollable-tab-view

[2019-10-05 19:54] eXist-FraGGer opened #63 "Disable bouncing on iOS"
# Feature Request

Please add `bounces: boolean` property.
We need to have functionality to disable Bouncing behavior.

## Why it is needed

![bouncing](https://user-images.githubusercontent.com/13423093/66260131-0d57af00-e7c3-11e9-8ab3-26077dfbf342.gif)

### Code sample

[code]

[2019-10-06 07:08] devvit opened #66 "android VIEW_MANAGER_NAME is not correct"
# Bug

After v2.0 release, android view manager renamed to "RNCViewPager"

[code]

but ```ViewPagerAndroid.js``` is still "AndroidViewPager"

[code]

```AndroidViewPager``` is legacy code point to [offcial RN](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/viewpager/ReactViewPagerManager.java):

[code]

## Steps To Reproduce

Please add a n

[2019-10-06 07:53] troZee commented on #66
Hey,
Thank you for reporting issue. The name has been changed as you said here:
https://github.com/react-native-community/react-native-viewpager/commit/e15966c51558d4a786bea1e2be694aa0988958cb#diff-c274bc79a2ba262fc9467c17dec5c326R29

So probably your change will fix it. Feel free to create PR with solution, that you provided.

[2019-10-06 08:40] devvit commented on #66
Well, you responded so quickly. Waiting for #64 and #65 merged, I want to try some new feature :)

[2019-10-07 19:49] ferrannp opened #68 "Dismiss the Keyboard when changing the page"
# Feature Request

Say a page with some TextInput, when keyboard is open, you do not want it opened if you switch the page.

## Why it is needed

This can be done easily in the JS side but if we pass a prop to ViewPager to do it natively, the experience will be faster.

## Possible implementation

Same as native implementation you can find on StackOverflow :)

[2019-10-08 16:11] #66 closed

[2019-10-08 16:26] troZee opened #69 "Add yarn ios and yarn android to package.json to run the example app"
# Feature Request
Exmaple needs improvement:
- Add running from command line

## Why it is needed
Now you can only run app from android studio/xcode and developing can be a little bit frustrating

### Code sample
`yarn ios` or `yarn android` should run react native app on device

[2019-10-09 07:14] jaythakkar2807 commented on #18
@ferrannp, I have installed "yarn add @react-native-community/viewpager" and then follow the steps but It not run in expo.

[2019-10-10 09:49] mistikk opened #72 ""RNCViewPager" was not found in the UIManager. [RN 0.61.2] [Android]"
# Bug

![image](https://user-images.githubusercontent.com/8211075/66558447-3928bb00-eb5c-11e9-97ed-c4364041c882.png)

## Environment info

react-native: 0.61.2
react-native-viewpager: 2.0.1

[2019-10-10 10:15] ferrannp commented on #72
For what I see you are using https://github.com/ptomasroos/react-native-scrollable-tab-view. See https://github.com/ptomasroos/react-native-scrollable-tab-view/blob/master/index.js#L13. `ViewPagerAndroid` is not part of react-native core anymore. You should open an issue to that repo and ask to update the library to use https://github.com/react-native-community/react-native-viewpager instead.

[2019-10-10 10:23] mistikk commented on #72
I am not using ptomasroos/react-native-scrollable-tab-view. I forked and updated with react-native-community/react-native-viewpager.
You can see forked repo https://github.com/esteemapp/react-native-scrollable-tab-view

[2019-10-10 11:42] ElliDy commented on #48
@ferrannp I have problems to bundle my apk in gitlab, because I´m using your library and it does not support AndroidX. I will try now to set the ANDROID_BUILD_TOOLS version to 28.0.2 instead of 28.0.3. Hope that helps. Do you have another solution? I know, that support androidx is not an easy made step, but it would be nice, if you reconsider that.

[2019-10-10 14:20] ivan3177 opened #73 "[V2] Disable content touches when ViewPager is scrolling on iOS"
# Bug

On Android when ViewPager is scrolling with swipe gesture all content(including all Touchables) are disabled. On iOS it's not - all touchables are interactable while swiping so when viewpager content has button or other clickable components they are clicked.

I tried to fix it with setUserInteractioEnabled and with UIGestureRecognizer, but haven't come up with any idea how to fix. Problem i

[2019-10-10 21:20] ferrannp commented on #72
If you create a new app with `react-native init`, does the viewpager here works for you?

[2019-10-11 08:39] 1512751361 opened #74 "mac 错误：程序包 android.support.v4.view不存在"
# Question
![(N`8~ 1YOL17EWP7I2F%DGB](https://user-images.githubusercontent.com/24776858/66637371-7ae16080-ec45-11e9-86cb-90e825c26c21.png)
![{28B7968B-DC7B-90BD-CE63-9DE29EBDB303}](https://user-images.githubusercontent.com/24776858/66637380-816fd800-ec45-11e9-90b0-10b11d2365e1.jpg)
相同的版本的一个插件？mac和windows拉取的内容怎么不一样呢?
"react": "^16.9.0",
"react-native": "^0.60.5",
 "@react-native-community/viewpage

[2019-10-11 11:15] troZee commented on #74
Hey 👋 thank you for reporting this issue. We want to migrate our lib in 3.x.x version. Now jetifier do it for you under the hood.

[2019-10-12 01:35] lxy910812 commented on #74
什么时候更新啊？RN0.6以上版本都报android.support.v4.view，安卓用不了啊

[2019-10-12 13:54] ertankara opened #75 "Causing app to crash if a touchable object inside the view is clicked"
# Bug

App crashes as soon as I click a touchable opacity inside the view element that is nested in the viewpager.

## Environment info

React native info output:

[code]

Library version: 2.0.0

## Steps To Reproduce

1. Using ViewPager as the root element of the component
2. Placing dynamically created touchable objects
3. Clicking on any dynamically created object causes crash
...

Describe wha

[2019-10-15 08:24] cisplRejjak commented on #75
Same here..!

[2019-10-15 09:52] troZee commented on #73
Hey,
you can use `onPageScrollStateChanged` method, to block button interaction.
[code]

[2019-10-15 09:59] troZee commented on #75
Hey 👋 . I have checked out our example, which contains similar class to yours https://github.com/react-native-community/react-native-viewpager/blob/master/example/src/component/LikeCount.js on both platforms and everything works fine. Can you provide example on expo for it ?

[2019-10-15 10:41] ertankara commented on #75
@troZee I've checked the example but that touchable is hardcoded, not dynamically generated.

Try something like following

[code]

And indeed it works well on both Android and iOS simulators, but crashes on real Android 9 Pie device.

[2019-10-16 10:15] plahteenlahti commented on #69
I could take a look at this.

[2019-10-17 17:28] baleo-it commented on #72
@mistikk RN > 0.60, you need to do
[code]

[2019-10-18 07:50] mistikk commented on #72
@baleo-it i already run pod install

[2019-10-18 09:13] KingAmo opened #77 "children component of <ViewPager> could not use ref props"
# Bug
ViewPager's children component could not use ref props

## Environment info

React native info output:

[code]

Library version: `2.0.1`

## Steps To Reproduce

[code]

[code]

Describe what you expected to happen:
textInputRef1, textInputRef2 is not undefined

## Reproducible sample code

[2019-10-18 11:14] ferrannp commented on #72
Can you provide a repository to reproduce your issue?

[2019-10-18 12:32] troZee commented on #77
Following code should work
[code]

[2019-10-19 03:25] KingAmo commented on #77
@troZee unfortunately, it does not work, `console.log(this.textInputRef1.current)`
got `null`

[2019-10-19 04:06] KingAmo commented on #77
i edit my code above,  as i make some mistakes when writing this issue, but my code in my project is correct that still cause this issue, and i tried your code and did not work

[2019-10-19 15:48] ertankara commented on #75
I'm sorry, it was me being totally missing some huge point. I was relying on auto complete of the VSCode, and some of my touchable opacities were being imported from "react-native-gesture-handler" package. It was working as expected in the debug mode. But once I get the release it was crushing on real device. So this is totally not related to this project.

[2019-10-19 15:48] #75 closed

[2019-10-20 15:07] troZee commented on #77
Can you provide a repository to reproduce your issue?

[2019-10-21 12:34] erdouzun opened #78 "Getting current page item info"
Hi everyone,

I have a simple question:

In which event I can get current page item?

 Here is the simpflied version of my code:

`renderPage(item) {
        let tmpConnectionOpacity = 0.25
        let tmpInUseOpacity = 0.25
        return (
            <View key={item.id}>
            <TouchableOpacity>
                <Panel panelName={item.name} connectionOpacity={tmpConnectionOpacity} inUseOpa

[2019-10-21 13:20] brunocrpontes commented on #78
[onPageScroll](https://github.com/react-native-community/react-native-viewpager/blob/9736694fdebdb873c989c47a03c0acca27a64d5a/typings/index.d.ts#L4) props return the current page and its offset while the user scroll the `ViewPager`.

Store it in a state or a context if you need to use it in deeper children of `ViewPager`

[2019-10-21 14:48] #36 closed

[2019-10-21 20:01] erdouzun commented on #78
<img width="421" alt="Screen Shot 2019-10-21 at 22 56 33" src="https://user-images.githubusercontent.com/34140509/67238737-53b13d00-f456-11e9-8293-ecdf26bab3c5.png">
![Uploading
![Uploading Scre
<img width="403" alt="Screen Shot 2019-10-21 at 22 57 04" src="https://user-images.githubusercontent.com/34140509/67238783-6461b300-f456-11e9-8cdd-5fd98c97b0a8.png">
en Shot 2019-1
<img width="360" alt="Sc

[2019-10-21 20:05] erdouzun commented on #78
By the way,

onPageSelected and onPageScroll gives the same position values.

[2019-10-21 20:14] brunocrpontes commented on #78
Yes, it will give the same position. You don't have a way to access the current position directly from ViewPager component, you need to store it and change the values when the position changes.

[code]
If you need the current position after render, just use currentPosition.

[2019-10-21 20:27] erdouzun commented on #78
I understand what you mean, but this is very difficult for a horizantally scrollable view pager.

I guess, I should get offset and position values together and try to detect which page is shown at that time. Am I right?

[2019-10-21 20:32] brunocrpontes commented on #78
No, the position refers exactly to the current page are selected, offset are usual if you need some tracking to do some animation or an event with precision. If you just need the current index, position is enough.

[2019-10-21 20:36] erdouzun commented on #78
But I tried to explain with the screenshots, position doesn't give the right index.

I can't understand working logic of position :/

When I scrolled to TEST 3 page, it didn't alert.
When I scrolled to TEST 2 page, it alerted 2. But I expected 1 from it.

[2019-10-22 05:28] troZee commented on #78
@erdouzun have checkout our example ? I think the answer is provided by @brunocrpontes .  Can you provide a code ? Because it is hard to investigate, when example works fine but you code does not.

Thank you @brunocrpontes for trying to help @erdouzun

[2019-10-22 07:28] #74 closed

[2019-10-22 07:38] leecz commented on #72
same issue

[2019-10-22 08:28] erdouzun commented on #78
Yes I checked it out times and times. It looks so simple but I cannot get the right index when I scroll my pages.

` onPageSelected = (event) => {
        const {position} = event.nativeEvent;
        this.context.changeSelectedPanel(this.context.cloudData.panelList[position].name)
      };`

`renderPage(item) {
        let tmpConnectionOpacity = 0.25
        let tmpInUseOpacity = 0.25
        ret

[2019-10-22 12:11] ferrannp opened #79 "Document showPageIndicator prop for iOS"
Related to https://github.com/react-native-community/react-native-viewpager/pull/71.

[2019-10-23 08:23] erdouzun commented on #78
In your example;

you scroll the pages with button touch event. So you can easily set the position.

I try to detect the page position with the slider current movement. This is why my code doesn't work. I hope I explain myself clear.

[2019-10-23 08:58] erdouzun commented on #78
I guess the problem is about the defining the transitionStyle.
I added this and it worked

transitionStyle="scroll"

Thanks for your help.

[2019-10-23 08:58] #78 closed

[2019-10-23 09:08] troZee commented on #78
Hey @erdouzun, transitionStyle is "scroll" by default. In curl mode `onPageScroll` does not work. I am still working on it.

[2019-10-23 09:54] erdouzun commented on #78
I'm sorry if I mislead you.

I changed also the ref defining. Maybe the first problem of my code was that.

It was like that:
`ref={(viewPager) => {this.viewPager = viewPager}}`

And then I changed to:
`ref={this.viewPager}`

You are right transtionStyle="scroll" is default.

[2019-10-23 15:25] troZee commented on #79
I take it

[2019-10-24 10:49] troZee opened #81 "Wrong iOS view hierarchy"
# Bug

View hierarchy on iOS is wrong and it looks like this
- RN VC
- RN Child views of ViewPager
- ReactNative Page View
- Native VC

As you can see, each react children view of ViewPager should not be in view tree. They are mounted immediately. Below you can find screenshot of view hierarchy.

<img width="451" alt="Screenshot 2019-10-23 at 20 31 48" src="https://user-images.githubusercontent.co

[2019-10-24 13:06] KingAmo commented on #73
i

i dont think this is a good solution...

[2019-10-24 19:24] #79 closed

[2019-10-25 07:57] superandrew213 commented on #72
@ferrannp here is the repo https://github.com/superandrew213/viewpagertest.

This uses the latest version of `react-native-scrollable-tab-view` from github which uses `@react-native-community/viewpager`

https://github.com/ptomasroos/react-native-scrollable-tab-view/commits/master

[2019-10-25 09:00] ferrannp commented on #72
@superandrew213 if you install `@react-native-community/viewpager` it works. I think the problem is in https://github.com/ptomasroos/react-native-scrollable-tab-view/blob/master/package.json#L27-L29. Can you try and add `@react-native-community/viewpager` as `peerDependency` ?

[2019-10-25 09:14] superandrew213 commented on #72
@ferrannp I can confirm that it works if you install `@react-native-community/viewpager`.

`@react-native-community/viewpager` has been added as a dependency to `react-native-scrollable-tab-view`. Why add it as a peer dependency?

[2019-10-25 09:46] superandrew213 commented on #72
@ferrannp `@react-native-community/viewpager` should be working even if it has been added as a dependency. This is probably a linking issue?

[2019-10-25 15:07] hccluck opened #82 "Cannot find module '@react-native-community\viewpager\package.json'"
Package @react-native-community/viewpager has been ignored because it contains invalid configuration. Reason: Cannot find module '@react-native-community\viewpager\package.json'.
How to deal it

[2019-10-26 10:43] troZee commented on #82
Can you provide a reproducible example ?

[2019-10-27 12:23] thanhduyspkt opened #83 "Dynamic render next or previous component"
# Question

If I remember correctly, I worked with UIPageViewController in iOS for years.
I only keep data in memory, then UIPageViewController provide the page index to asking for a correct ViewController. I would be nice because It renders three views always.
So, I only care about current view, next view and previous view.

Could you please support this feature instead of rendering rest of views

[2019-10-28 02:18] KingAmo opened #84 "onPageSelected wrong triggered when the `key` of subComponent change"
# Bug

[code]
[code]
when `key1` or `key2` changes, the `onPageSelected` props is triggered incorrectly，and ` e.nativeEvent.position` is changed incorrectly

## Environment info

React native info output:

[code]

Library version: `2.0.1`

## Steps To Reproduce

1.
2.
...

Describe what you expected to happen:

1.
2.

## Reproducible sample code

[2019-10-28 09:19] troZee commented on #84
Hey 👋 . Thank you for reporting issue. Can you provide reproducible code ?

[2019-10-28 09:39] troZee opened #85 "XCode 11 App Launch Crash"
# Bug

This bug is described here: https://github.com/facebook/react-native/issues/25154

[2019-10-28 13:12] ferrannp commented on #84
@KingAmo why would you change the `key` values? I think you should always use the same value for a specific page, if not, problems like this will arise.

[2019-10-28 13:15] ferrannp commented on #85
I don't think this is relevant to this package.

[2019-10-28 13:16] ferrannp commented on #83
CC @troZee & @dratwas. WDYT?

[2019-10-28 13:22] troZee commented on #83
Probably we should change API to support this feature. When subviews are added as a child, they are loaded eagerly. If we want to load each view in lazy way, we need to consider to do it in another way. (Maybe api should be the same like in FlatList ?).  Current solution is also problematic like I described here  https://github.com/react-native-community/react-native-viewpager/issues/81 and probab

[2019-10-28 13:25] troZee commented on #85
What do you mean ? I applied this solution https://github.com/facebook/react-native/issues/25154#issuecomment-534024991 and it works.

[2019-10-28 13:26] troZee commented on #85
This is relevant to example, which uses react-native in v. < 0.59.9

[2019-10-28 13:33] KingAmo commented on #84
@ferrannp i submit a issue https://github.com/react-native-community/react-native-viewpager/issues/77,  i can't use `ref` props of child component of `viewpager`, so i can't call the function of child component use `ref` props, so i have to change the `key` of child component to re-mount it, and the  child component's `componnetDidMount` will call again and trigger the function i want call

[2019-10-28 13:58] #85 closed

[2019-10-29 10:02] youngjuning commented on #33
why not return index

[2019-10-30 16:03] ferrannp opened #90 "Add yarn ios and yarn android to package.json to run the example app"

[2019-10-30 22:14] brentvatne opened #91 "Web support"
# Feature Request

We should have an API compatible implementation for web

## Why it is needed

Building universal apps with React Native is the dream

## Possible implementation

Unknown

### Code sample

[code]

[2019-10-31 13:37] x0s3 commented on #25
I have started to work on this feature, just a proof of concept on Android, will need some help to implement it on iOS 😅

I will clean code and create a branch in my fork with those changes and share it (not enough time for that sorry 😔)

Happy (halloween || "la castañera") to everyone!! 🎃/ 🌰

![reactViewPagerTabs](https://user-images.githubusercontent.com/20214622/67950797-9c04f380-fbea-11e9-811b

[2019-10-31 13:41] ferrannp commented on #25
Oh @x0s3 didn't know somebody was working on it. There is actually a repo that might do the same if they update to use the `ViewPager` from the community https://github.com/madhu314/react-native-tabbed-view-pager-android/issues/17.

[2019-10-31 13:53] x0s3 commented on #25
it would be useful to close this or update labels, so that there is no confusion in the future 😅 (just a comment)

[2019-10-31 14:07] x0s3 opened #92 "useViewPager hook"
# Feature Request

Expose a hook to access to the ViewPager from components inside it

## Why it is needed

Imagine that you need to move programmatically from Page 1 to Page 3, using that hook users can handle those escenarios easily (just an example)

## Possible implementation

### Code sample

[code]

Feel free to close if is not needed or useful 😄

[2019-11-02 17:17] troZee opened #93 "Pager Indicator View is hidden on IP X"
# Bug
This view is hidden, because frame is measured in wrong way.

<img width="710" alt="Screenshot 2019-11-02 at 18 13 24" src="https://user-images.githubusercontent.com/12766071/68074568-bb438280-fd9c-11e9-920c-385b82a7a854.png">

[2019-11-02 17:17] troZee commented on #93
I take it

[2019-11-02 17:25] troZee opened #94 "Implement Page Indicator on Android"
# Feature Request
When `showPageIndicator` prop is true, indicators should be shown on Android. Take a look at example

## Why it is needed
Because this is already implemented on iOS and we want to keep consistency between two platforms.

## How to implement it
it should look in this way

![Simulator Screen Shot - iPhone 8 - 2019-11-02 at 18 22 07](https://user-images.githubusercontent.com/1276607

[2019-11-05 06:41] orcunorcun opened #96 "scrollEnabled={false} does not work for IOS"
does not work on IOS 12.x.x.

**Versions:**
[code]

**Codes:**
[code]

[2019-11-05 12:37] erdouzun opened #97 "@react-native-community_viewpager:compileReleaseJavaWithJavac FAILED"
Hi all,

I'm getting this error when I try to run "./gradlew assembleRelease" in ./android folder.

android/build.gradle

buildscript {
    ext {
        buildToolsVersion = "28.0.3"
        minSdkVersion = 16
        compileSdkVersion = 28
        targetSdkVersion = 27
        supportLibVersion = "28.0.0"
    }
    repositories {
        google()
        jcenter()
    }
    dependencies {

[2019-11-05 12:50] erdouzun commented on #97
error: package androidx.viewpager.widget does not exist

[2019-11-05 13:04] erdouzun commented on #97
I added this to gradle.properties

android.useAndroidX=true

android.enableJetifier=true

and it worked.

[2019-11-05 13:04] #97 closed

[2019-11-06 17:28] namo-topcoder commented on #96
Same here for me. Works on android and not on IOS. On IOS you are still able to scroll. Please assist.

[2019-11-06 18:21] schlaegerz opened #98 "Allow changing the indicator color"
# Feature Request
IOS allows changing the indicator colors and it would be great to bubble that up to react-native:
var pageIndicatorTintColor: UIColor?

var currentPageIndicatorTintColor: UIColor?

## Why it is needed
Visually its important to be able to control this color so you can make a page look good.

[2019-11-07 09:18] SakuraWood commented on #96
same problem . only works on iOS.

[2019-11-07 14:00] troZee commented on #98
Can you propose js api for it ?
I would like also handle indicator view styles like padding, margin etc

[2019-11-07 15:48] Kristonitas commented on #25
I just found a way to do it out of the box.

[code]

[2019-11-07 16:38] troZee commented on #96
I will take a look on it

[2019-11-07 16:45] schlaegerz commented on #98
I personally would be happy with

pageIndicatorColor={color}
and
activePageIndicatorColor={color}
or
currentPageIndicatorColor={color}

Being available. I think the color is a much more common use case and is very easy to implement as it just maps to properties in the native view.

I don't know if margin and padding is even possible without rendering the entire thing ourselves.

[2019-11-07 16:53] troZee commented on #96
Hey,
I have tested above code and it seems to work. I provide you a reproduce repo https://github.com/troZee/viewPagerExample

Please open, when you provide reproducible example.  (You can fork my repo)

[2019-11-07 16:55] wsliaw commented on #96
it works on iOS 13 only

[2019-11-07 17:05] namo-topcoder commented on #96
I have seen the issue. For each view in the view pager you have to add key="0",key="1",key="2".... so on... For example
<View key="0" >
</View>
<View key="1" >
</View>

[2019-11-07 17:09] namo-topcoder commented on #96
[code]

[2019-11-07 17:09] troZee commented on #96
I reopen this issue due reproducible case

[2019-11-07 19:22] troZee commented on #98
This is interesting feat, but I have no time to dig into it. I agree with you about props, that you proposed. Do you want to contribute, with what you proposed ? If you do, feel free. I can help you in case of any questions.

[2019-11-07 23:36] schlaegerz commented on #98
I can try to take a stab at it, but probably won't have time. I've never worked on interacting with native from a react-native component so I'm not sure how tough this would be.

[2019-11-08 07:11] troZee commented on #98
if you will find some time to do it, I would really appreciate it. Because you have never worked before, I write you some hints as follow:

You need to export prop to JS like here:
https://github.com/react-native-community/react-native-viewpager/blob/master/ios/ReactViewPagerManager.m#L13

and then use this prop here
https://github.com/react-native-community/react-native-viewpager/blob/master/ios/

[2019-11-08 07:25] karthik-appliedsyntax commented on #84
Hi @KingAmo  even i am facing same issue initial position is 0 when i triggered onPageSelected e.nativeEvent.position will change to 1.  Again if i triggered scroll  onPageSelected  position is not changing e.nativeEvent.position return  1 only.

can you help me out from this issue.

[2019-11-08 08:19] troZee commented on #84
@karthik-appliedsyntax
Can you clone this repo https://github.com/troZee/viewPagerExample and provide reproducible example ?

[2019-11-08 09:16] karthik-appliedsyntax commented on #84
Hi @troZee  Actually i tried for  Dot indicators for Android.
have you customised  Dot indicators for View Pager in Android ?

[2019-11-08 09:34] troZee commented on #84
Dots are android has not been implemented yet https://github.com/react-native-community/react-native-viewpager/issues/94

[2019-11-08 11:10] cristianosantos95 commented on #11
Any updates on this issue?

[2019-11-08 15:05] Barbiero opened #99 "(iOS) scrollEnabled={false} not applying when mounting dynamically"
# Bug

When mounting a ViewPager dynamically(ie. some type of conditional), `scrollEnabled` seems to be ignored on iOS(works fine on Android)

## Environment info

React native info output:

[code]

Library version: 2.0.2

## Steps To Reproduce

[code]

Describe what you expected to happen:

Even if the viewpager is mounted dynamically, `scrollEnabled={false}` should work fine.

Might be related t

[2019-11-08 16:38] schlaegerz commented on #98
This looks like it will require me to learn a bit more objective C so I don't think I will have much time to look into this for now :(

[2019-11-11 03:04] GTooo opened #100 "TypeError:undefined is not object(evaluating 'React.PropTypes.func')"
My dependencies:
"dependencies": {
    "@react-native-community/viewpager": "^2.0.1",
    "prop-types": "^15.7.2",
    "react": "16.9.0",
    "react-native": "0.61.3",
    "react-native-gesture-handler": "^1.5.0",
    "react-native-paper": "^3.1.1",
    "react-native-swiper": "^1.5.14",
    "react-native-tab-navigator": "^0.3.4",
    "react-native-vector-icons": "^6.6.0",
    "react-native-viewpag

[2019-11-11 06:14] srajesh02529 opened #101 "initialPage is not working in Android?"
initialPage={2}, this property is not working in android?always it loads the '0' position page.

[2019-11-12 07:24] troZee commented on #100
Are you sure, that you did not make a mistake ? I think this is another lib, because our project does not contain `DefaultViewPageIndicator`

I close this due above reason.

[2019-11-12 07:24] #100 closed

[2019-11-14 02:18] zhuiye commented on #74
the same question ,it occur **android.support.v4.view is not exist**  when gradlew assembleRelease .
in my **gradle.properties**
[code]
**package.json**

[code]
by the way ,yarn android can work

[2019-11-14 03:21] zhuiye commented on #74
run following command can get release apk,
```react-native run-android --variant=release ``
 run **gradlew assembleRelease** and then  was hit   **android.support.v4.view is not exist**

[2019-11-14 06:25] zhuiye commented on #74
finally gradlew assembleRelease can gengerate release apk,but i do not know what happen,may be i try install jetifiter?
[code]

[2019-11-14 07:07] ferrannp commented on #74
Yes you need jetifier. And `react-native run-android` works because it runs jetifier under the hood.

[2019-11-14 07:32] Domtry commented on #72
Any solution proposal did not solve my problem

this is my package.js config
-----
"dependencies": {
    "react": "16.9.0",
    "react-native": "0.61.4",
    "react-native-elements": "^1.2.7",
    "react-native-input-scroll-view": "^1.9.5",
    "react-native-navigation": "^3.5.1",
    "react-native-scrollable-tab-view": "^1.0.0",
    "react-native-vector-icons": "^6.6.0"
  },
  "devDependencies":

[2019-11-14 10:32] ferrannp commented on #101
@srajesh02529 mind sharing your code or reproducible example? I tried in our example and it works fine.

[2019-11-14 10:46] srajesh02529 commented on #101
<ViewPager
                        style={styles.viewpager}
                        initialPage={2}
                        onPageScroll={this.onPageScroll}
                        onPageSelected={this.onPageSelected}
                        pageMargin={10}
                        ref={viewPager => { this.viewPager = viewPager; }}>
                        { this.renderPage(page)}

[2019-11-14 13:21] ferrannp commented on #101
@srajesh02529 we need more. What you pasted seems ok and it works in our example. Can you make a repository that we can run?

[2019-11-18 22:46] #69 closed

[2019-11-19 09:59] #93 closed

[2019-11-20 09:15] jakajacky commented on #72
i have the same error,  RN = 0.60.5,  Platform = iOS/Android
And fixed by **[Manual linking](https://github.com/react-native-community/react-native-viewpager#manual-linking)** guide, both iOS,Android work fine.

1.  ` npm i @react-native-community/viewpager`
2. on iOS, adding this to your Podfile:
`pod 'react-native-viewpager', :path => '../node_modules/@react-native-community/viewpager'`
then
`cd

[2019-11-20 10:16] #101 closed

[2019-11-20 10:16] #96 closed

[2019-11-20 10:16] #99 closed

[2019-11-20 11:20] ferrannp opened #104 "Dynamic / lazy approach to load pages"
# Feature Request

## Why it is needed

Performance way to load a LOT of pages dynamically to create a dynamic swiper.

## Possible implementation / Code sample

Right now I can do something like:

[code]

A better way instead of rendering `null` would be to slice from the beginning too:

[code]

However, this approach has a problem. Consider the scenario:

* Pages: `1 2 3 4`  and position = 2 (se

[2019-11-20 13:10] Gark opened #105 "API 'variant.getJavaCompile()' is obsolete and has been replaced with 'variant.getJavaCompileProvider()'."
Android build log.

Configure project :react-native-screens
WARNING: API `variant.getJavaCompile()` is obsolete and has been replaced with `variant.getJavaCompileProvider()`
It will be removed at the end of 2019.
For more information, see https://d.android.com/r/tools/task-configuration-avoidance.
REASON: Called from: `../node_modules/react-native-screens/android/build.gradle:100`

v3.1.0

[2019-11-20 13:20] troZee commented on #105
This issue refers to `react-native-screens`.

[2019-11-20 13:20] #105 closed

[2019-11-20 17:04] devvit commented on #91
A few codes in my project, it's work well with [react-native-web](https://github.com/necolas/react-native-web), maybe helpful

[code]

[2019-11-20 18:20] osdnk opened #106 "Disable bouncing on iOS"
# Feature Request

https://stackoverflow.com/questions/34652666/no-bouncing-on-uipageviewcontroller

I would be nice to disable it sometimes

## Why it is needed

I need it in my app and I believe it's a good feature overall.

## Possible implementation

https://stackoverflow.com/questions/34652666/no-bouncing-on-uipageviewcontroller

### Code sample

 ¯\\_(ツ)_/¯

[2019-11-20 18:21] osdnk commented on #106
cc @wojtus7 @christianbaroni

[2019-11-20 19:12] troZee commented on #106
Duplicated https://github.com/react-native-community/react-native-viewpager/issues/63

[2019-11-21 00:44] osdnk commented on #106
sorry!

[2019-11-21 00:44] #106 closed

[2019-11-21 08:19] Relax594 commented on #68
any ETA on this one?

[2019-11-21 11:41] #63 closed

[2019-11-22 01:55] panda0603 opened #108 "Overdrag prop does not work on IoS"
In the document, there is overdrag property for Ios.

However, when I check ViewPager props, there seem to be no overdrag property.

Setting overdrag={false} does not work either for Ios.

Is this a bug or not yet implemented feature?

I'm confused because in the document it exists

Thank you.

[2019-11-22 03:01] panda0603 opened #109 "ViewPager does not re-render correctly on deleting last index of the array"
# Bug
Please excuse my English, explanation may be a little long before I actually talk about the problem (reproducible code at the end).

Currently, I have ViewPager setup with array of 4 items.

I have to delete an item(or equivalent to screen) in the array by clicking a button located at that screen, using the position returned from onPageSelected.

[code]

Here is a simulation of the problem.

[2019-11-22 08:41] ferrannp commented on #109
This might be a bit related to https://github.com/react-native-community/react-native-viewpager/issues/104.

Basically hard to achieve in JS and we still need to probably find a solution inside the library.

[2019-11-22 08:44] ferrannp commented on #108
The PR https://github.com/react-native-community/react-native-viewpager/pull/107 was merged some hours ago and it has not been released yet. I'll do it during the day today.

[2019-11-22 08:44] #108 closed

[2019-11-22 08:53] panda0603 commented on #109
Thanks.
Though do you know why it works fine in Android?

[2019-11-24 14:01] yzalvov commented on #18
The interesting thing is that Expo people recommend using the `react-native-viewpager` instead of one of their deprecated interface. It is literally the first-line link on the [ViewPagerAndroid](https://docs.expo.io/versions/v35.0.0/react-native/viewpagerandroid/) page.

[2019-11-24 18:17] ireeskenz commented on #73
Any fix ?

[2019-11-25 15:46] ferrannp opened #112 "Be able to change scrollEnabled imperatively"
# Feature Request

Right now we can change `scrollEnabled` only via props. I have a use case when I run an animation and I want to disable the pager scroll while the animation is running.

## Why it is needed

Animations do not behave well (lag) if you change / re-render the component while it is happening.

I tried a solution locally like:

[code]

And that just solves my problems. Although the r

[2019-11-25 16:12] GoshaEgorian opened #113 "Linking error if java folder path is wrong"
# Bug and solution

Just to document bug case and solution for community.

## Description

Imagine you have project named `com.test.case`.

If you have path to Main*.java files as
[code]
instead of
[code]
Then linking process will not completed successful and app with crash on start up.

## Solution

Change path to `com/test/case`.

## Environment info

I'm not sure it's important but:

[code]

Li

[2019-11-25 16:13] #113 closed

[2019-11-26 15:21] MustaphaGhlissi commented on #78
This how you can do it:
[code]

then pass the prev function to the ViewPager component

[code]

[2019-11-27 15:19] Knoxville75 opened #115 "Bitcoin farmer"
# Feature Request

## Why it is needed

## Possible implementation

### Code sample

[2019-11-27 17:11] #115 closed

[2019-11-28 03:07] zhenghui0705 opened #116 "Tried to register two views with the same name RNCViewPage"
# Question

[2019-11-28 06:27] troZee commented on #116
Can you provide more info ? Like example repo.

[2019-11-28 08:48] #116 closed

[2019-12-01 12:33] CryceTruly commented on #13
Hey @danilobuerger, thanks for your response, could you share an example of how to do this, specifically for react-native-viewpager.

I have tried adding this but no success.
[code]

[2019-12-01 13:43] ferrannp opened #117 "Vertical Android ViewPager not working correctly in certain devices"
Swiping for a short distance and fast should change the page. This is working fine in my Pixel 2 (Android 10) and in Android the emulator. However, we tried a couple of devices where is not working correctly:

- Samsung Galaxy Note 9 (Android 9)
- Xiaomi MI MIX 2 (Android 9)

This is the behavior on for the vertical ViewPager:

![vertical](https://user-images.githubusercontent.com/774577/69914782-

[2019-12-01 14:35] devvit commented on #117
@ferrannp, What about [this](https://stackoverflow.com/questions/53684461/vertical-viewpager-and-android-pie-inconsistent-behavior-with-swipe-gesture) ?
I haven't these devices, only tested on my 5 devices(4.4 - 9.0) :(

[2019-12-01 14:53] ferrannp commented on #117
Thanks for the reference @devvit! I'll be trying it tomorrow.

[2019-12-01 16:42] troZee opened #118 "Migration to ViewPager2"
# Feature Request

## Why it is needed
Earlier this year, Google announced ViewPager2 in Google IO/19. ViewPager2 is the replacement of ViewPager and is much better. The biggest change in the ViewPager2 API is that it now uses the RecyclerView.

## Possible implementation

[code]

[2019-12-02 12:59] aryojamousi commented on #18
I am on RN 61.5 with `"@react-native-community/viewpager": "^3.1.0"` and got crashes on iOS (not Android) with the said error.
What helped was manually linking the dependancy for iOS:
put
[code]
in your `Podfile` and run `cd ios && pod install`

[2019-12-02 14:17] ferrannp commented on #117
Mmm for now still that did not really help @devvit. That just seems to play with the threshold the page needs to be moved to swipe... But I think the problem here is different. If you drag very small distance but fast (with power), it should swipe to the next page. Still investigating... By the way, I was able to reproduce it on an emulator (Note 9 Android 9) using https://developer.samsung.com/re

[2019-12-02 15:06] ferrannp commented on #117
Ok, I can reproduce the issue with the Android emulator (good to find a solution) on API level 28 (Android P). It seems to work before and after but not on Android P (most popular nowadays).

[2019-12-02 15:42] devvit commented on #117
@ferrannp, [Make ViewPager snap with shorter drag](https://stackoverflow.com/questions/17318625/make-viewpager-snap-with-shorter-drag)

My reflection solution
[code]

Could you try straya's answer? I'm not sure that

[2019-12-02 16:00] ferrannp commented on #117
@devvit I found a a perfect working solution modifying the source code. https://android.googlesource.com/platform/frameworks/support/+/5b614a46f6ffb3e9ca5ab6321c12412550a4e13a/viewpager/src/main/java/androidx/viewpager/widget/ViewPager.java#2251. Instead of `getXVelocity`, if pager is vertical would be `getYVelocity`.

Can we achieve this by reflection without copying the whole source code?

[2019-12-02 16:21] devvit commented on #117
Looks impossible 😓, just change ```mMinimumVelocity```

[2019-12-02 16:26] ferrannp commented on #117
Or I'll fork the internal code here (it will not change anyway as they are with `ViewPager2` now). I'll prepare a PR.

[2019-12-02 16:29] devvit commented on #117
Yes, fork it, freeze it, until we migrate to VP2

[2019-12-03 11:16] ferrannp commented on #118
I recommend playing and having fun with https://github.com/android/views-widgets-samples/tree/master/ViewPager2. See examples:

![ezgif-1-590bcacca31d](https://user-images.githubusercontent.com/774577/70046541-8bb7ae00-15c6-11ea-94bc-48cb5f48a5fd.gif)
![tabs](https://user-images.githubusercontent.com/774577/70046543-8bb7ae00-15c6-11ea-9f15-b0ab151b92c4.gif)

😄

[2019-12-04 11:36] ferrannp opened #120 "Disable "bouncing" for iOS"
Similar to what React Native does with `ScrollView` or `FlatList` when `bounces = false`.

[2019-12-05 12:02] #112 closed

[2019-12-06 08:48] tusharpandey opened #121 "TouchableHighlight inside Viewpager taking page-change event as click in ios."
we have used view pager in our app, and there are 3 sections of each and every page , all 3 sections are clickable, for making it clickable we are using TouchableHighlight.

So whenever I am changing my page by swiping. If my touch for sliding is inside TouchableHighlight in IOS it is taking it as click else in android it is working fine.

[2019-12-06 09:03] troZee commented on #121
Hey @tusharpandey , Thank you for reporting an issue. Can you tell me, is your issue refers to  https://github.com/react-native-community/react-native-viewpager/issues/73

[2019-12-06 09:07] tusharpandey commented on #121
yes... exactly ..... I am also thinking about using this approach and I am sure it will hurt all child components.

[2019-12-06 09:09] troZee commented on #121
I would like to keep discussion in one place, hence I close this issue. Please write a comment here https://github.com/react-native-community/react-native-viewpager/issues/73

[2019-12-06 09:09] #121 closed

[2019-12-06 10:03] ferrannp opened #122 "ViewPager layout breaks when detaching and attaching it again"
## Environment info

[code]

Library version: `3.2.0`

## Steps To Reproduce

See the issue:

![pager-detach-broken](https://user-images.githubusercontent.com/774577/70314278-72597080-1817-11ea-85d8-49f9945809e4.gif)

## Reproducible sample code

Repro: https://github.com/ferrannp/react-native-viewpager-detach-example

When navigating to another screen with `react-navigation` (e.g to another tab),

[2019-12-06 18:43] ruiaraujo commented on #122
FYI I will not be able to help. This was one of the last bug fixes I did and I recall nothing. :man_shrugging:

[2019-12-07 19:33] cyberdude commented on #11
Ohh dear, can you please give us an update?

[2019-12-08 13:49] ljsalm089 commented on #73
I add `onMoveShouldSetResponderCapture` method to ViewPager to prevent the touch event pass to the child view when viewpager is scrolling;
[code]

[2019-12-09 10:05] troZee commented on #73
I have created PR for it. Thank you @ljsalm089 for providing above example. It helped me a lot.

[2019-12-09 12:41] aryojamousi commented on #73
the branch from @troZee fixed my problem

[2019-12-10 07:34] akashmi opened #125 "requireNativeComponent: "RNCViewPager" was not found in the UIManager."
# Bug

Invariant Violation: Invariant Violation: requireNativeComponent: "RNCViewPager" was not found in the UIManager.

attached screenshot for more details

![Simulator Screen Shot - iPhone X - 2019-12-10 at 13 01 17](https://user-images.githubusercontent.com/11882168/70505207-6f2eef00-1b4d-11ea-950c-092bc38de1da.png)

[2019-12-10 11:46] ferrannp commented on #125
You need to link it. The approach changes depending on what React Native version you are: https://github.com/react-native-community/react-native-viewpager#linking.

[2019-12-10 11:46] #125 closed

[2019-12-10 12:29] safeer-ahmed commented on #96
I had the same issue and get it solved by removing **paddingTop** from parent of ViewPager. It was working fine in Android and iOS-13 but not in below versions of iOS.

Here is what which solved issue for me.
` < View style={{
                ...otherStyle,
//paddingTop: 20, have to remove it from here and put it in child view of viewpager.
            }} >
                <ViewPager

[2019-12-10 17:17] ferrannp opened #126 "On iOS, the pager misbehaves if you stop the swipe and swipe again"
# Bug

Happens both horizontal and vertical. See:

![swipe-twice](https://user-images.githubusercontent.com/774577/70552249-43c1f980-1b79-11ea-9127-8ab25153114f.gif)

Basically, I am able to swipe down, I release the finger, I stop the swipe, then I swipe up and instead of going to the previous element, it swipes up twice. Works ok on Android.

[2019-12-11 10:08] troZee opened #127 "[iOS] Incorrect progress value"
# Bug
Progress view display wrong value once user is scrolling vertically

![ScreenRecording2019-12-11at11030](https://user-images.githubusercontent.com/12766071/70612049-7c5be480-1c06-11ea-93d2-aae1a3f2082b.gif)

[2019-12-11 10:47] sennevc commented on #77
Can this issue be reopened? the bug is still there.

I created a sample repo where the issue can be reproduced: https://github.com/sennevc/react-native-viewpager-issue-77-sample

I did also find out that the issue only happens on children directly under the `<ViewPager>`, so you can wrap your components in a `<View>` to bypass the issue for now.

[2019-12-11 11:01] KingAmo commented on #77
@sennevc great work, need @troZee to reopen it

[2019-12-11 12:21] #73 closed

[2019-12-11 12:53] ferrannp commented on #126
I'll close for now till I have a proper repro to share.

[2019-12-11 12:53] #126 closed

[2019-12-12 04:54] karthik-appliedsyntax commented on #84
Hi @troZee  i am facing issue in loading initial page.
I tried your view-pager Example in that your Views are static and its work fine for me also but in my case Views are Dynamic so i need to render it dynamically at that time i am facing issue with loading initial page .

Here is my code

<ViewPager style={styles.viewPager}
                        initialPage={1}
                        keyboard

[2019-12-12 06:39] linhmimoza opened #128 "[iOS] Support dynamically transitionStyle and orientation change"
# Feature Request
Please support dynamically transitionStyle change and orientation change

## Why it is needed
It can simulate the page flip action of a book more smoothly
For example:
 Currently user is viewing first page of book
- Notice book is open on screen show you can see page 1, the spine of the book, and then part of page 2
- Swiping left brings page 2 (scroll effect)
- Swiping left agai

[2019-12-12 08:34] oliverdolgener opened #129 "setPage should not trigger onPageSelected event"
# Bug

We are storing and updating the active index of the ViewPager in Redux. When the user swipes to another page the `onPageSelected` event is correctly triggered and the active index will be updated like that:

[code]

But we also want to set the page programatically when the active index is changed by some other component. To achieve this we are using an useEffect hook like this:

[code]

Unf

[2019-12-17 08:59] KingAmo opened #132 "ViewPager nested in ScrollView can not scroll vertically"
# Bug
when a `ViewPager` is the children of a `ScrollView`,  `ScrollView` 's height is always `screen height` and can not scroll vertical any more

## Environment info
React native info output:

[code]

Library version: 3.3.0

## Steps To Reproduce

[code]
Describe what you expected to happen:

1. the `ScrollView`'s height is larger then screen hight, so you can scroll vertical
2. the height of `V

[2019-12-19 09:18] KingAmo commented on #132
`ViewPager`'s max height is screen height ? am i right?

[2019-12-20 04:50] devvit commented on #132
Obviously, the width/height depends on the wrapper.

In practice, you may need to control nested scroll manually.

[2019-12-26 22:54] igorbrandao commented on #72
Any solution for those using a non ejected expo app?

[2019-12-28 04:48] 0x01001 commented on #132
same issue can't scroll inside ViewPager with scrollEnabled = true

[code]

[2019-12-31 12:56] hxyatgithub opened #134 "when i use react native navigation createBottomTabNavigator as tabbar viewpager as first tab then viewpager can not scroll"
# Bug
viewpager and react navigation conflict on scroll

## Environment info

react native 0.61.5  navigation 4.0 viewpager3.3

React native info output:

[code]

Library version: x.x.x

## Steps To Reproduce

1.
2.
...

Describe what you expected to happen:

1.
2.

## Reproducible sample code

[2020-01-01 20:52] kaank commented on #82
Hi,

Please remove node_modules, lock files (npm,yarn) and npm install again.

[2020-01-06 07:17] huming-china commented on #104
I really need this feature

[2020-01-07 13:36] troZee commented on #134
This issue is probably related to this [repo](https://github.com/software-mansion/react-native-tab-view-viewpager-adapter)

[2020-01-07 13:36] #134 closed

[2020-01-15 09:41] iqbalfaisal opened #135 "setPage isn't properly working in IOS"
# Bug

I'm implementing the sets of pages according to sections. When one section is completed the next section will been shown and it's start from zero page and so forth. It's working fine in Android but facing issue in IOS when i changed page number to zero after reaching last index of one section let say 3(length of section and first index is zero) and call other section and it should start fro

[2020-01-16 10:05] iqbalfaisal commented on #135
@troZee here is sample code.
length= length of current section
this.i = index of current page
 ` if (this.i != length - 1) {`
`          this.i = ++this.i;`
`          this.refs.viewPager.setPage(this.i);`
`        } else {`
`          var s = this.getNextSection();`
`          this.i = 0;`
`          this.refs.viewPager.setPage(this.i);`
`          if (s === null) {`
`          } else {`
`

[2020-01-20 13:09] xfumihiro commented on #118
correct me if I'm wrong but since ViewPager2 is based on recyclerview and somehow they decided to make it [final](https://cs.android.com/androidx/platform/frameworks/support/+/androidx-master-dev:viewpager2/viewpager2/src/main/java/androidx/viewpager2/widget/ViewPager2.java;l=69) it's haunted with this [bug](https://stackoverflow.com/a/49381907/3678092)

[2020-01-20 13:27] troZee commented on #118
it is true, this class is final, but this is not a bug. They decided to do it and they explain it somewhere. Why are you asking ?

[2020-01-20 13:33] xfumihiro commented on #118
I'm also trying to use ViewPager2 in RN but hit with the requestLayout bug

[2020-01-20 14:00] troZee commented on #118
You can checkout my progress here: https://github.com/react-native-community/react-native-viewpager/commits/%40troZee/viewpager2 . Currently, I am struggling with `FragmentStateAdapter`. Previously I implemented it using pure `RecyclerViewAdapter`, but IMO it is not a good solution. Feel free to share some code, if you would like to.

[2020-01-20 14:17] xfumihiro commented on #118
why are you coping VP2 code instead of importing it from stable 1.0.0 release?

[2020-01-21 10:49] troZee commented on #118
I almost finished this migration, but I am struggling with `setCurrentItem(args.getInt(0), false)` method. I don't know why it does not work.

Below you can see what is happening:
- The background is white, until you swipe a little
- Probably this is related to this https://stackoverflow.com/questions/49371866/recyclerview-wont-update-child-until-i-scroll/49372697#49372697

![gif](https://user-ima

[2020-01-21 13:22] fxhrgco opened #136 "Autolinking is not working with android"
# Bug
The component is not found without doing the manual linking with Android.

## Environment info
react-native: 0.61.2
@react-native-community/viewpager: 3.3.0

[2020-01-21 15:22] fxhrgco commented on #62
Same problem here. Lost 2 hours on this.

[2020-01-21 20:05] xfumihiro commented on #118
yep, you have to patch the recycleview with the requestLayout workaround otherwise the children views won't update

[2020-01-22 02:31] nnajiabraham opened #137 "Feature: Pull to Refresh"
# Feature Request

Hi team, I was wondering if this is in the plans for implementing a pull to refresh/reload feature where the children will get replaced/reloaded?

Currently using this great library for a video-pager where users swipe up/down to move to the next video and tried implementing a pull to refresh but it seemed impossible since it overlapped with the vertical swipe.

[2020-01-29 14:30] avent08 commented on #132
I also have experienced same issue with @0x01001 (https://github.com/react-native-community/react-native-viewpager/issues/132#issuecomment-569385223), my flat list won't scroll even I make the flatlist height static.

[2020-01-31 20:44] troZee opened #140 "Reimplement iOS VP implementation"
# Feature Request
While I was implementing VP2 on android, which is based on RecyclerView I noticed, that listView implementation is more performant than current implementation. VP on iOS is based on `UIPageViewController `.  I would like to migrate into CollectionView ([example](https://github.com/WenchaoD/FSPagerView)).

## Why it is needed
This implementation should:
  - fix lazy loading issue

[2020-02-06 17:52] LuckyLuke19 commented on #125
I am using React Native 0.61.5 (so the library should be linked automatically) and I still have the same problem. I have followed the custom linking instructions but it was not fixed. What should I do?

[2020-02-07 09:22] Kasemyassine2 commented on #132
did any find a solution to this issue ? managed in from the native side?

[2020-02-07 11:06] troZee commented on #132
I checked both cases and work fine. Please provide reproduction repository.

[2020-02-07 11:09] troZee commented on #135
This issue looks like a question that would be best asked on StackOverflow.
StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for bugs only.
Will close this as this is really a question tha

[2020-02-07 11:09] #135 closed

[2020-02-07 11:17] troZee commented on #136
Hey, it works. Please checkout https://github.com/troZee/viewPagerExample/commits/master

[2020-02-07 11:17] #136 closed

[2020-02-07 11:22] troZee commented on #117
we can close it, when https://github.com/react-native-community/react-native-viewpager/pull/139 will be merged.

[2020-02-08 23:45] anasalsaadi14 opened #141 "RTL support?"
# Question

[2020-02-10 08:08] avent08 commented on #132
this is the demo https://github.com/avent08/RNViewPagerBug
the viewpager using `orientation="vertical"`

[2020-02-10 09:14] troZee commented on #132
Hey @avent08 . Thank you very much for repository. I had a chance to easily reproduce it.
This issue exist on Android but it will be fixed by https://github.com/react-native-community/react-native-viewpager/pull/139/files

If you want to check out new version, please use below command:
[code]

or change in `package.json`

[code]

[2020-02-10 12:04] avent08 commented on #132
thank you very much @troZee. cant wait until it fully released. will try those code on my repository.

[2020-02-13 16:59] sushrut-desora commented on #18
I had the same issue using react-native 0.61.4 and "@react-native-community/viewpager": "^3.3.0" on android. It  was resolved after doing ```react-native link @react-native-community/viewpager```. Why do i have to link it when react native uses auto linking ?

[2020-02-14 01:57] brockduncan commented on #122
Using this for now, can't comment on whether or not it's the best solution but can confirm it works! Thanks @ferrannp

[2020-02-19 11:35] sytolk commented on #72
I have the same issue on Android (iOS works) RN 0.60.6
dependencies:
"react-native-best-viewpager": "^1.0.4", -> https://github.com/abbasmoosavi/react-native-best-viewpager/blob/master/package.json#L39
"@react-native-community/viewpager": "^3.3.0", <- adding this line in my project package.json fix this issue
Maybe this issue is yarn related ??

[2020-02-26 18:35] johnny-sleepybox opened #143 "viewpager on ios : flex not working"
There is a problem with `react-native-viewpager` on ios :

The style `{{flex: 1}}` in a subview will not go to the end of the screen. In the screenshots I want the red to **reach the bottom of the screen**. But you can see it only reaches 1/2, 1/3, 1/4 etc of the screen depending of the number of pages.

How can I use `{{flex: 1}}` in a subview when using a viewpager?

**With 2 Views :**

	import

[2020-02-28 16:47] DrFlink commented on #72
This worked for me:

RN-cli: 2.0.1
RN: 0.61.5

I tried linking the package, but that didn't help.
I tried manual linking and saw that the RNCViewPagerPackage was missing in:
android/app/src/main/java/com/[...]/MainApplication.java

I added the package (last line before return):
`       @Override
        protected List<ReactPackage> getPackages() {
          @SuppressWarnings("UnnecessaryLocalVaria

[2020-03-02 16:30] troZee commented on #143
Hey,
Thank you for reporting an issue. I can see, that VP does not respect flex value. As workaround you can use below code:
[code]

Also this issue occurs on Android.

[2020-03-02 22:59] PerrierCitror commented on #143
Current fix for me is to wrap the Views inside VP with :

    <View style={{height: '100%', width: '100%'}}>
         ....
    </View>

[2020-03-03 14:38] troZee commented on #143
?

I checked above issue and I can see, that you need to pass whole style to child view.  I was trying to fix this, but IDK, why RN returns incorrect dimensions for each child view (in this case TestComponent) on iOS. Below code resolves this issue:

[code]

[2020-03-05 12:02] tech-lead-miracle commented on #11
Is there any solution for it yet?

[2020-03-06 18:51] wigleyj opened #145 "[iOS] Crash on empty datasource"
# Bug
I am trying to render a form with multiple sections. I generate the sections with a map function like so

[code]

But nothing shows up on iOS. It does show up just fine on android. I have tried manually building the sections like so

[code]
and this show up just fine on both ios and android. it is only when i try to use map on an object on ios i get a blank screen.

## Environment info

Reac

[2020-03-06 19:17] troZee commented on #145
Hey,
Thank you for reporting an issue. We are using map function in our example, so you can check this out. It should work fine.

[2020-03-11 10:16] hannahcx commented on #94
Any update on this? I cannot use your library in my app because of this defect.

[2020-03-12 06:44] tinydiv333 commented on #94
Any update? I want to use this library but because of this i can't

[2020-03-12 07:42] troZee commented on #94
Hey,
Now I have limited amount of time to implement it. As workaround you can use external lib https://github.com/tsepeti/react-native-dots-pagination. It is easy to integrate with VP.

PR's are welcome.

[2020-03-13 17:39] jasonkw9 opened #146 "[iOS] React Native Navigation"
# Without Viewpager

![](https://user-images.githubusercontent.com/18546855/76378908-aa79cd80-6389-11ea-9250-33a1f00075d2.png)

# With Viewpager

![](https://user-images.githubusercontent.com/18546855/76378922-b2397200-6389-11ea-8cee-c8e0b6b23f67.png)

As shown in the screenshot, after I use the viewpager, my bottom tabs navigation from react native navigation wix has disappear. Anyone has any ide

[2020-03-14 02:39] skyliwq commented on #146
yes react-native-navigation Version v6 in use react-native-community/viewpager conflict bottomTabs disappear

[2020-03-14 06:16] jasonkw9 commented on #146
@skyliwq Is there any workaround for this issue? Is this issue with react native navigation or viewpager?

[2020-03-18 04:21] TimMun commented on #145
Is your `this.state.audit.sections` ever an empty array? What I realized is that you can never set the ViewPager's children as null - the ViewPager MUST have at least 1 child. If you set with no children, then even if you add some children later on, the children never appear (even though their render functions are called). My workaround is to just put an empty View for a null page. Took me forever

[2020-03-19 10:02] UnnikrishnanBhargavakurup commented on #72
still not working any suggestions

[2020-03-20 02:47] Deepp0925 opened #149 "Feature: Programmatically changing the page"
# Feature Request
Based on the given documentation, there is no way to programmatically change pages.

## Why it is needed
For a better UX - swiping 10 times v/s pressing a button once (which is better)

Any kind of help is appreciated

[2020-03-20 10:16] troZee commented on #149
This is already implemented. Checkout our example
https://github.com/react-native-community/react-native-viewpager/blob/master/example/ViewPagerExample.js#L95

[2020-03-20 10:16] #149 closed

[2020-03-23 10:20] Ttianyagege opened #150 "React Native Tried to register two views with the same name"
![Uploading image.png…]()

[2020-03-25 06:40] troZee commented on #150
If you fix the description, I will reopen it

[2020-03-25 06:40] #150 closed

[2020-03-25 06:43] troZee commented on #146
Linked issue https://github.com/wix/react-native-navigation/issues/6037

[2020-03-25 06:55] troZee commented on #145
@TimMun thank you for explanation. I am able to reproduce it on iOS. Android works fine. Below I provide example code to reproduce it

[code]

[2020-03-25 09:36] osdnk opened #151 "[ios] [viewpager2] adding pages breaks with "go to""
When I'm scrolling imperatively really quick and add pages in the same time I observe it breaks the position of content

[2020-03-25 19:54] shanemduggan commented on #129
This would be useful to have.

[2020-03-25 20:44] ncoelho commented on #120
Any news on this? I've seen the feature merged and reverted. Having bounce as the default behavior only applies to some use cases.

[2020-03-27 12:48] #127 closed

[2020-04-01 10:54] KingAmo opened #154 "could it possible that ViewPager do not need to set a style with a specific height?"
# Question
the example in `readme` provide a `style={{ flex: 1 }}` to `ViewPager`(like bellow), but in my case, the pager's height is not specific，it depends; but without a specific height, `ViewPager` show nothing

so, could the height of `ViewPager` be flexible ?
[code]

[2020-04-01 16:26] thecodecafe opened #155 "Can't Focus on TextInput"
# Question
Please I just noticed something in my code using ViewPager, TextInput components blur immediately after focusing once inside the ViewPager.
### Preview
![RNViewPagerInputBug](https://user-images.githubusercontent.com/3317665/78161597-9cc1e000-743d-11ea-9432-8227f4ccfff2.gif)

### Code
[code]
Please will appreciate anyones help with this issue, it's becoming a blocker, thanks.

[2020-04-01 17:10] troZee commented on #154
Why you can't :
[code]

[2020-04-01 17:35] troZee commented on #155
I have tested above code and it works fine:

![Simulator Screen Shot - iPhone 11 - 2020-04-01 at 19 33 50](https://user-images.githubusercontent.com/12766071/78168168-c126b800-744f-11ea-8815-17ea3e813933.png)

[2020-04-01 19:52] thecodecafe commented on #155
Thanks @troZee made me try something else, was able to fix it, it's a weird behaviour but setting a height and setting flex to undefined fixed it for me.
[code]
Hope this helps anyone who encounters such a problem.

[2020-04-01 19:53] thecodecafe commented on #155
Thanks @troZee made me try something else, was able to fix it, it's a weird behaviour but setting a height and setting flex to undefined fixed it for me.
[code]
Hope this helps anyone who encounters such a problem.

[2020-04-01 19:53] #155 closed

[2020-04-02 01:10] KingAmo commented on #154
because i want ViewPager just wrap the children, and the children's height is depend on fetched data from api

[2020-04-02 06:44] troZee commented on #154
Why you can't :
[code]

[2020-04-02 19:29] chhavi-khandelwal opened #156 "Page Indicator to render with customised color. White background does not display non active indicators."
# Feature Request

## Why it is needed

## Possible implementation

### Code sample

[2020-04-03 05:30] razzfox commented on #129
It's always going to cause an infinite loop when your dependency is the thing you are changing (`activeIndex`). It sounds like you are using one variable to reference two distinct values: the current state, and the desired state.
It probably makes more sense to use a separate variable for the desired state (`desiredIndex`), and then you can check `if (activeIndex !== desiredIndex)` before you call

[2020-04-05 09:21] DatNguyenWoft commented on #18
i have used library react-native-scrollable-tab-view version 1.0.0, it has dependency @react-native-community/viewpager then error ocurce. But when i downgrade to version 0.10.0 this error is gone.

[2020-04-05 23:19] lucasluca opened #157 "Upgraded to React Native 0.62.0 Getting Warning Sign - "Calling `getNode()`"
ReactNativeFiberHostComponent: Calling `getNode()` on the ref of an Animated component
is no longer necessary. You can now directly use the ref instead.
This method will be removed in a future release.

this happend on change tab

[2020-04-09 07:20] #145 closed

[2020-04-09 14:42] troZee opened #159 "chore: migrate example from 0.61 to 0.62"

[2020-04-09 19:05] razzfox commented on #129
What do you think about using a `desiredIndex` value as the useEffect dependency, so you have no infinite loop?

To be clear, I disagree with removing the onPageSelected event, because in this example, "current" and "desired" page values are not properly separated.

[2020-04-10 15:16] oliverdolgener commented on #129
That's actually an interesting idea. We will give it a try.

[2020-04-11 11:36] #159 closed

[2020-04-11 11:40] troZee commented on #157
Hey, I have updated our example to 0.62 and everything works fine. Please checkout our example.

Due above reason, I close this issue.

[2020-04-11 11:41] #157 closed

[2020-04-12 15:37] hsivakum commented on #132
Any temporary fix for this issue at least! :(

[2020-04-13 18:03] crystalneth commented on #129
I have the same issue. Distinguishing between desiredIndex and currentIndex isn't really possible, because we can't distinguish between a user initiated page scroll and programmatically initiated one, at least without some transitioning state variable.

You can see in the code below, if a user changes the segmented control index from 0 to 1, then back to 0 before the pager has finished transitioni

[2020-04-13 18:44] crystalneth commented on #129
@oliverdolgener Did you find an effective workaround?

[2020-04-13 18:46] oliverdolgener commented on #129
@crystalneth not yet. what you describe is exactly our problem. I'll take a closer look this week and let you know.

[2020-04-14 21:05] mrnickel opened #161 "[iOS] delaysContentTouches breaks when child component is Touchable"
# Bug

With the addition of `((UIScrollView *)subview).delaysContentTouches = NO;` on commit https://github.com/react-native-community/react-native-viewpager/commit/8249e31cf04d9961b5fe6ba5dad4ccb443bba48d scrolling through multiple pages of `Touchable`'s only works the first time.

i.e. I have a list of 3 pages, I can scroll once, but subsequent (left or right) via dragging do not work. I _can_ c

[2020-04-15 23:52] crystalneth commented on #129
I could not find a viable workaround to the event firing.

I later found more severe bugs in the firing of page selected events after adding a RN SectionList to a page. I was getting a pageselected event for every rendering of each list item, which caused the UI to lock up and go into infinite loops on initial render. Who knows why. Sure enough when I changed the number of list items it changed th

[2020-04-16 07:03] troZee commented on #129
@crystalneth

Could you provide a example and create a separate issue for those bugs ?

[2020-04-17 06:03] crystalneth commented on #129
I'm the sole dev on my project rn and have pulled the module out of the
codebase, so I'm unlikely to get around to that. Sorry!

If you'd like to try what I had, it was two pages, one had a FlatList and
the other a SectionList, and the interaction with the segmented controller
is as specified above.

Sorry, I can't help more rn.

On Thu, Apr 16, 2020 at 12:03 AM troZee <notifications@github.com> w

[2020-04-17 12:43] bndby commented on #141
No, use

[code]

[2020-04-22 10:56] #141 closed

[2020-04-22 11:28] teo029 opened #162 "ViewPager child height is doubled in ScrollView"
# Bug

First of all, thank you for this great package.

ViewPager child's height is doubled (or so) when ViewPager is embedded inside a ScrollView. This affects the dynamic content's UI I am fetching from my API (I received content of 300px height and the ViewPager scales to ~600px).

I don't know if this is a bug or normal behaviour, but I do want to know how to work around this issue without any

[2020-04-22 12:03] todorone commented on #117
@troZee @ferrannp Is there any workaround to use vertical ViewPager now? I was so excited about native feel viewpager on react native, but found out that it's broken on Android...😿

PS: Thanks for working on it!

[2020-04-22 12:09] ferrannp commented on #117
@todorone you can wait for https://github.com/react-native-community/react-native-viewpager/pull/139 or you can use this branch for now https://github.com/react-native-community/react-native-viewpager/tree/fix/vertical-pager-android-9-bug.

[2020-04-22 12:11] troZee commented on #117
@todorone or you can create patch-package of #139. I need to fix one thing.
Ofc I am not guarantee, that it will work, but you can try.

<3

[2020-04-22 12:23] todorone commented on #117
@troZee @ferrannp Thanks for prompt feedback, you guys are awesome.

Just tried both `fix/vertical-pager-android-9-bug` branch and also `viewpager2` branch. Both of them didn't help, I still need to swipe with finger for a almost full height distance to make vertical transition happen. Checked on both horizontal and vertical device alignment, Android 9 Mi 5 Note device(Emulator with Android 10 wor

[2020-04-22 13:44] troZee commented on #161
Hey @mrnickel
you need to wrap this touchable comp in View comp
[code]

[2020-04-22 13:44] #161 closed

[2020-04-27 14:58] zmnv commented on #96
Still doesn't work. Any solutions?

[2020-04-28 14:19] #118 closed

[2020-04-28 19:03] ibrahimyolbir opened #163 "Invariant Violation: ViewPagerAndroid has been removed from react native"
# Bug

Invariant Violation: ViewPagerAndroid has been removed from React Native.'react-native-viewpager' instead of 'react-native'

Yeah. This error was opened on many platforms including here, but I have a different situation. I have never used anywhere. ViewPagerAndroid exists only in the index.android.bundle file in my project. Do I need to update this file? How can I update?
I have problems on

[2020-04-28 19:04] ibrahimyolbir commented on #163
<img width="701" alt="Screenshot 2020-04-28 at 20 53 16" src="https://user-images.githubusercontent.com/25623304/80526916-d67dfc00-8993-11ea-8d86-703c14c47e9f.png">
aasd
<img width="373" alt="Screenshot 2020-04-28 at 20 46 55" src="https://user-images.githubusercontent.com/25623304/80526923-d8e05600-8993-11ea-9fdd-9a01adb8f6b4.png">

[2020-04-28 19:26] troZee commented on #163
Hey 👋
Could you show me, how did you imported View Pager package in your *.js file ?
It looks like you are importing ViewPager from react native instead of `@react-native-community/viewpager`
Please checkout our example.

[2020-04-28 19:30] ibrahimyolbir commented on #163
Hej @troZee
Which .js file you mean? I didnt use @react-native-community/viewpager in my project.
I searched 'ViewPagerAndroid' in the project and added a photo of it above.

[2020-04-28 19:35] troZee commented on #163
So you should use `@react-native-community/viewpager`.
In your project please find below import:
[code]
and replace it
[code]

[2020-04-29 08:06] Bardiamist opened #164 "Content touches on scroll end"
# Bug

Content touches on scroll end on Android (tested on Android 5.0)

Similar issue was on on iOS when ViewPager was introduced on iOS. And you fixed that.

I have 3 pages. Every page has FlatList. Every Flat list row is TouchableOpacity.
On scroll end fires onPress of TouchableOpacity.

Library version: 4.0.0 breaks it. It works on < 4.0.0

[2020-04-29 08:59] troZee commented on #164
@Bardiamist Could you provide more description ?

[2020-04-29 09:06] Bardiamist commented on #164
Simular issue was on on iOS when ViewPager was introdused on iOS. [And you fixed that.](https://github.com/react-native-community/react-native-viewpager/pull/124)

I have 3 pages. Every page has FlatList. Every Flat list row is TouchableOpacity.
On scroll end fires onPress of TouchableOpacity.

[2020-04-29 09:10] troZee commented on #164
This snippet https://github.com/react-native-community/react-native-viewpager/issues/73#issuecomment-562950417 should be also applied for android ?

Could you provide code example, that I can check for android ?

[2020-04-29 09:11] troZee commented on #164
Do you know, if issue exist for < 4.0.0 ?

[2020-04-29 09:16] Bardiamist commented on #164
Only on 4.0.0. I updated, tested, saw it bug, and rolled back to 3.3.0.

[2020-04-29 17:54] elkinjosetm commented on #164
Same here, but not only on scroll end, I'm also having the same issue when swiping left or right on Android. I moved back to 3.3.0, and it's working fine.

[2020-04-30 03:36] Bardiamist commented on #164
When I say "scoll end", I mean swiping left or right.

[2020-04-30 08:16] troZee commented on #163
I assume, that problem is solved. In case of any questions, please reopen this issue.

[2020-04-30 08:16] #163 closed

[2020-04-30 08:46] ibrahimyolbir commented on #163
Hej @troZee  Thanks for help. i solved that problem with;

import { ViewPager } from " rn-viewpager"

To replace;

import ViewPager from '@react-native-community/viewpager';

[2020-05-01 06:44] Inexpressible commented on #143
The children view are being forced to use absolute layout in the js api. Disabling the style override re-enables flex. https://github.com/react-native-community/react-native-viewpager/blob/v4.0.0/js/utils.js#L25

[2020-05-02 21:52] MrAlekhin commented on #19
sorry, in what version is this fixed? installing `0.60.6` and experiencing that

[2020-05-03 07:06] troZee commented on #19
I assume, this is rn version. What version of viewpager do you have ?

[2020-05-03 16:47] MrAlekhin commented on #19
@troZee by looking on `package.lock` file my version is `1.1.7` which is used by CI

`"@react-native-community/viewpager": {
      "version": "1.1.7",
      "resolved": "https://registry.npmjs.org/@react-native-community/viewpager/-/viewpager-1.1.7.tgz",
    } `

[2020-05-03 17:18] troZee commented on #19
Latest version is 4.0. Please update to at least 3.3.0.

[2020-05-04 06:20] troZee opened #165 "[ts] Wrong children type"
I've got this, since this update
"Type 'Element[]' is not assignable to type 'ReactChildren'."

_Originally posted by @antonycohen in https://github.com/react-native-community/react-native-viewpager/pull/138_

[2020-05-04 06:21] troZee commented on #165
@antonycohen
can you try with ReactNode ?

I found it here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L1333

[2020-05-04 11:43] #165 closed

[2020-05-05 12:37] lukebars commented on #164
Same issue, if a page has touchable opacity inside, it fires onPress every swipe that is touching that touchable.

[2020-05-05 14:05] troZee commented on #162
hey @teo029
I created a separate branch for your issue: https://github.com/react-native-community/react-native-viewpager/commit/44bbe9572ced59099ec9e568a80b6ed8923e95a4

And I could not reproduce it. Probably your issue is related to:
https://github.com/react-native-community/react-native-viewpager/issues/143#issuecomment-622272328

Could you remove this line https://github.com/react-native-commun

[2020-05-05 14:11] teo029 commented on #162
Will be back with a response in around one week, but, for sure, I forked the project (some time ago) just to remove that line and saw the same problem. Will confirm later on, thank you.

[2020-05-05 14:52] ozgursoy opened #167 "App Crash - UIViewControllerHierarchyInconsistency"
# Bug

When i open the app, it crashes sometimes ( %20 crash rate )
There is no log on console, Flipper can't catch any error, Only Crashlytics catches the error.

* Android is working very well.
* There is no problem on version 3.3.0

![Screen Shot 2020-05-05 at 17 21 56](https://user-images.githubusercontent.com/13810383/81078205-94eed300-8ef6-11ea-98ae-27accf694c4a.png)

`react-native info` out

[2020-05-05 15:16] troZee commented on #167
It is strange, that iOS fixes does not work for you.

You can checkout changelog here:
https://github.com/react-native-community/react-native-viewpager/releases/tag/v4.0.0

Could you provide reproducible example code ?

@krystiansliwa have you got any ideas ?

[2020-05-05 15:23] farad4y commented on #167
Extra info:
We use [redux-offline](https://github.com/redux-offline/redux-offline).
When i disable redux-online, works perfectly.
This is really strange because there is no problem on version 3.3.0

[2020-05-05 15:30] srfaytkn commented on #167
+1

[2020-05-05 15:30] ahk093 commented on #167
I have the same issue.

[2020-05-05 15:38] troZee commented on #167
@srfaytkn @ahk093 Could you provide any reproducible example ?

[2020-05-05 23:49] rakeshvora2007 commented on #109
I am having the same issue as mentioned above.
Is this bug solved or still in any progress?
Is there anything I can help with?

[2020-05-06 04:50] dhavaljardosh commented on #132
No solutions yet?

[2020-05-06 08:26] farad4y commented on #167
@troZee
I replaced childViewController.view = view;
to
[childViewController.view addSubview: view];
then issue is solved

I can't provide any reproducible example right now, i have to create a new project for this

[2020-05-06 13:39] troZee commented on #167
@farad4y
I checked 3 fixes, which has been included into 4.0 and I can't find any cause of above errors.
It is hard to say without reproducible example, where the problem is.

You can fix it now locally using patch-package.

No worries :D I am waiting for reproducible example

[2020-05-06 14:28] troZee commented on #164
@lukebars @Bardiamist is it somehow related to https://github.com/react-native-community/react-native-viewpager/issues/11 ?

[2020-05-06 16:22] troZee commented on #164
I started investigation here:
https://github.com/react-native-community/react-native-viewpager/tree/164

Probably I found a solution.

[2020-05-06 22:22] Saad9624 opened #168 "how to set the position of PagerTitleIndicator at the top of the screen unable to set the position of titles"
# Question

[2020-05-07 07:21] troZee commented on #168
Sorry, I don't understand the question. Could you explain it more ?

Do you want to change position of page indicator from bottom to top ?
Now it is not supported.

[2020-05-07 12:01] troZee commented on #146
In of any problem, please reopen an issue

[2020-05-07 12:01] #146 closed

[2020-05-07 12:02] alimek commented on #162
I am not sure if this is related but may be, because something similar is happening to me.

Every time when my keyboard is going down, my screen getting "extra" space for short time and then jumping to original size, which looks like screen is jumping.

Downgraded to 3.3.0 for now.

[2020-05-07 12:10] #82 closed

[2020-05-07 12:15] troZee opened #169 "[v4] Adding extra space, when keyboard appears"
I am not sure if this is related but may be, because something similar is happening to me.

Every time when my keyboard is going down, my screen getting "extra" space for short time and then jumping to original size, which looks like screen is jumping.

Downgraded to 3.3.0 for now.

_Originally posted by @alimek in https://github.com/react-native-community/react-native-viewpager/issues/162#issueco

[2020-05-07 12:16] troZee commented on #169
@alimek
Could you provide reproducible code snippet ?

[2020-05-07 12:31] alimek commented on #169
will try create repo for that.

One thing which i spotted already - it's not happening on all android versions.

Tested on Pixel 3A with API 29 - working fine.
Problem is on API 26 - when using Samsung S7 as simulator or real device.

[2020-05-07 12:55] alimek commented on #169
ok, check https://github.com/alimek/viewpager-bug

[2020-05-07 12:55] alimek commented on #169
i think key is:

`android:windowSoftInputMode="adjustPan"` and have `ViewPager` in `ScrollView`

[2020-05-09 09:31] troZee commented on #35
@leosoares94
`initialPage`
https://github.com/react-native-community/react-native-viewpager#api
and `setPage` or `setPageWithoutAnimation`
https://github.com/react-native-community/react-native-viewpager/blob/master/example/ViewPagerExample.js#L103

[2020-05-09 12:38] grean commented on #77
If you are testing in iOS emulator and the virtual keyboard is disabled, you will not received your ref on an TextInput component.

[2020-05-10 02:06] Inexpressible commented on #162
Our component composition/styling is similar to this. I've tried disabling the forced absolute layout for ViewPager in the js api and set its style to `flex: 1`. After that, the container's height is getting set to the aggregate height of all the children pages. This makes sense to me, as they're all just children to the layout engine. Disabling visibility from js technically works, but breaks ges

[2020-05-11 08:25] troZee commented on #162
Could you record this kind of behavior ? Because I did not notice this kind of behavior once I removed `childrenWithOverriddenStyle`

I am wondering, how to create some kind of portal for those child views, because VP works differently from scrollview. ScrollView adds scrollable ability for all content inside Scrollview.
VP uses adapter to display each child view, hence all children should be pain

[2020-05-11 09:30] teo029 commented on #162
Ok, I retested the problem with v4.

I can reproduce this problem with both `childrenWithOverriddenStyle`:

Code:

[code]

And without (with it removed):

[code]

With `childrenWithOverriddenStyle` removed I clearly see that the viewpager doubles in height with respect to my view. My problem is when having bigger `CHILD_HEIGHT` (800), it will go way beyond the screen's size. I need to find a way t

[2020-05-11 10:46] #168 closed

[2020-05-11 10:48] troZee commented on #154
@KingAmo your issue refers to https://github.com/react-native-community/react-native-viewpager/issues/162

[2020-05-11 11:12] Inexpressible commented on #162
re:portals: I wonder if the page views (children) need to be hoisted like they describe in the blog entry about [InputAccessoryView](https://reactnative.dev/blog/2018/03/22/building-input-accessory-view-for-react-native#api-design). Also, I'm wondering if the PageView container itself needs to be a `RCTRootView`.

(See: https://stackoverflow.com/a/43195387 and [FlexibleSizeExampleView.m](https://g

[2020-05-11 13:38] teo029 commented on #162
Regarding your reference to that issue, I didn't manage to make it work back then, because whichever height I told it to be, it still doubled or got out of bounds.

I don't understand what is causing this problem, but the only solution I've got right now is to fork a version where I removed the `children=` line.

[2020-05-12 06:29] troZee commented on #162
are you familiar with [patch-package](https://github.com/ds300/patch-package) ? You can use it, to remove this line locally.

[2020-05-12 10:18] loupmasneri commented on #143
This work for me! Thank's

[2020-05-12 10:51] jalooc commented on #125
Auto linking doesn't work for `>= 0.60`.

[2020-05-12 12:33] panda0603 opened #172 "Typescript error"
Hello,
I am getting below typescript error when using viewPager.

[code]
Below is the code:
[code]
How may I fix the issue?
Thanks

[2020-05-12 13:40] troZee commented on #172
This issue has been fixed here:
https://github.com/react-native-community/react-native-viewpager/pull/166/files

You can use patch-package to apply this fix. I will try to release new version as soon as possible :D

[2020-05-13 01:09] panda0603 commented on #172
Thanks, I'll close the issue.

[2020-05-13 01:09] #172 closed

[2020-05-13 08:54] laoxubuer commented on #117
@todorone you can use a custom hook to handle touch events like below:
[code]

[2020-05-14 00:16] Inexpressible commented on #162
Wanted to give an update from comments the other day:

After looking at how views are being managed better, it appears hoisting is already being done here, just differently than RN core's approach. In the interim, I've worked around the container height issue by adjusting component composition/styling, initializing ViewPager with a static height, then using onLayout within each page view hierarchy

[2020-05-14 02:09] taduyde commented on #164
the same issue, is there any update for this?

[2020-05-14 10:11] AlexSmirnov9107 opened #173 "Scrapped or attached views may not be recycled. isScrap:false isAttached:true"
# Bug report

## Summary

[code]

## Environment info

`react-native info` output:

[code]

Library version: x.x.x

## Steps to reproduce

1. Home -> OrganizationsList
2.Going back from OrganizationsList -> Home

[code]

[2020-05-16 20:52] brentvatne commented on #18
if you're using expo and you have this issue make sure you're on sdk-37 and see this docs page for installation instructions https://docs.expo.io/versions/latest/sdk/view-pager/

[2020-05-16 20:54] brentvatne commented on #18
@yzalvov - we only release sdks once per quarter, so all you need is for someone to make a change in one of the react-native-community repos one day after that release and then there is nothing we can do until the next release. so that is why you would have seen different recommendations in the docs. w

[2020-05-17 08:55] kabus202 commented on #164
same here downgrade to 3.3.0 and everything is working fine

[2020-05-18 12:52] sanborN93 commented on #137
Would like to see it too.

[2020-05-19 04:34] ObidosDev opened #174 "getSupportFragmentManager() on a null object reference"
# Bug report
## Summary

Android crash
Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'getSupportFragmentManager()' on a null object reference
com.reactnative.community.viewpager2.adapter.FragmentStateAdapter.<init> (FragmentStateAdapter.java:103)

## Environment info

`react-native info` output:

[code]

Library version: 4.0.0

## Steps to reproduce

Crash from C

[2020-05-19 11:25] troZee commented on #174
Hey 👋
Could you check your issue on 3.3.0 ?

[2020-05-19 11:27] ObidosDev commented on #174
Sure, I have prepared release with 3.3.0.
but I think `com.reactnative.community.viewpager2.adapter.FragmentStateAdapter.` **viewpager2** was added in 4.0.0

[2020-05-19 11:29] ObidosDev commented on #174
Maybe it could help to understand
![Screenshot 2020-05-19 at 14 28 42](https://user-images.githubusercontent.com/16224235/82321170-19545200-99dd-11ea-8c4c-f0f0cc2d2315.png)

[2020-05-19 11:34] troZee commented on #174
As you can see https://github.com/react-native-community/react-native-viewpager#versions
* 3.3.0 contains "old" version of VP
* 4.0.0 contains newer version of VP

Which version causes above issue ?

[2020-05-19 11:35] ObidosDev commented on #174
@troZee `Environment info
"@react-native-community/viewpager": "^4.0.0",`
From issue info :)
And now I will try with 3.3.0

[2020-05-19 12:13] troZee commented on #18
I checked, if autolinking issue exist and I can't reproduce it. You check it on my branch here:
https://github.com/troZee/viewPagerExample/tree/autolinking

[2020-05-19 12:21] troZee commented on #18
I checked and autolinking for 0.62 here:
https://github.com/troZee/viewPagerExample/tree/autolinking

And everything works fine.

[2020-05-19 12:22] troZee commented on #173
Could you check, if issue still exist on 3.3.0 ?

[2020-05-19 12:27] troZee commented on #173
I assume, this issue does not exist on 3.3.0, so as workaround you can use this version.

I found some solutions here: https://code.briarproject.org/briar/briar/issues/1363
But I would like to test those solutions. Could you provide a reproducible repository ?

[2020-05-19 20:23] dsznajder commented on #173
Hi @troZee :) I'm not sure if it's related but I was able to reproduce it with `native-stack` from `react-native-screens`.

[2020-05-19 20:44] troZee commented on #173
Hey, could you provide a reproducible code ? React navigation uses react native screen under the hood, so probably it is somehow related :D

[2020-05-21 08:44] genglei01 commented on #167
@troZee
I  have the same issue and try  @farad4y's solution, the error seems to be fixed/(I try it many times)

[2020-05-21 14:57] olkunmustafa commented on #72
It is the solution.

[2020-05-21 22:09] Inexpressible commented on #167
This error happens for us with screens that have multiple carousels. The suggested patch fixed the issue.

[2020-05-24 05:00] farad4y commented on #167
@genglei01 @Inexpressible Could you provide example project? My project that crashes is very big, so i can't simplified it

[2020-05-25 10:46] oliverdolgener commented on #164
yep same here: ViewPager v4 with touchable items will trigger onPress() when scrolling. Worked fine on v3.3

[2020-05-27 14:01] chirag04 commented on #173
seeing this in our app as well on v4. will try and gather more information soon

[2020-05-30 17:29] Fortidude commented on #164
I had this issue on android, while iOS was perfectly fine.

The solution is to use TouchableOpacity component from `react-native-gesture-handler`.
[code]

It handles touches / gestures in a bit different way:

[2020-06-01 03:33] tekmin commented on #167
We had the same issue, but not reproducible from our project too. I will try on @farad4y solutions first.

[2020-06-01 10:03] HVHMobileDeveloper commented on #78
Save my life 🎿✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅✅

[2020-06-01 19:57] arabold opened #176 "Wrong PropType for styles"
# Bug report

In 2.0.0 PropTypes for a lot of styles have been changed from `ViewPropTypes.style` to `PropTypes.object` (see [PR#2338](https://github.com/react-native-elements/react-native-elements/pull/2338) for example). However *this is incorrect*.

The prop type for styles should *not* be `PropTypes.object` as this will lead to React warnings when providing arrays, e.g. like this:
[code]

Mean

[2020-06-01 20:04] arabold commented on #176
Sorry... This was for the wrong repository. I pasted it into the wrong editor window 😱

[2020-06-01 20:04] #176 closed

[2020-06-02 09:21] vko-online opened #177 "Please update NPM package"
NPM package `"@react-native-community/viewpager": "^4.0.0"` does not contain recent PRs

[2020-06-04 08:29] ashirogisen opened #178 "Crashed when it's builded into APK"
When I open the screen that contains ViewPager components, the app is closed immediately. Anyone know the cause? It works perfectly fine in emulator tho.

RN Version:
**react-native: 0.61.4**

[2020-06-04 08:38] troZee commented on #178
Could you provide a stack trace ?
What is version of VP ?

[2020-06-04 09:12] ashirogisen commented on #178
Thanks for the response.
Btw, where I can get the stack trace? I'm kinda new
for VP, it's **^4.0.0**

[2020-06-04 09:22] troZee commented on #178
Can you try build apk for 3.3.0 ?

If you have release mode, you cannot debug it. You need to use 3rd party lib like crashlytics or write own simple implementation to check the stacktrace.

If you run your app on phone you can connect to you phone using adb. More you can find here:
https://www.xda-developers.com/quickly-install-adb/

[2020-06-04 15:25] ryanjwessel commented on #129
I am running into a similar problem. Issue #149 mentions this as well, but the examples provided only work if the selected index is only needed for `ViewPager`. When the active page is needed by multiple components and each of them can update the index, you will trigger an infinite loop.

In my example, I have two components that use this value. A `Map` component with `MapMarkers`, and a `ViewPage

[2020-06-04 16:37] oliverdolgener commented on #129
@ryanjwessel Thanks man, this is exactly the problem that we have. I would appreciate a solution like you suggested

[2020-06-04 17:04] ryanjwessel commented on #129
@oliverdolgener the only solution I found that actually kept the `selectedIndex` in-sync between multiple components was to provide a `key` prop to `ViewPager` that would force a re-render if the `selectedIndex` was changed by a component other than `ViewPager`. This came with significant performance drawbacks though, as it would re-render the entire `ViewPager` and it's children each time that ha

[2020-06-04 19:02] ryanjwessel commented on #129
@oliverdolgener So I think @razzfox's suggestion is the only way to accomplish this without completely re-rendering the component.

I added `activeIndex` as a component state field. The prop I receive from the Redux store is now the `desiredIndex`. If I receive new props and the `desiredIndex` does not match the `activeIndex`, then update `activeIndex` in state and as a part of your `setState` cal

[2020-06-05 15:56] brambang commented on #18
i had same issue, is it maybe the problem is only for expokit app (eject from manage workflow).
Because my apps didnt get any autolinking, include viewpager

[2020-06-05 16:11] jpamarohorta commented on #167
I had the same issue and @farad4y patch fixed it. Here is the patch created using [patch-package](https://github.com/ds300/patch-package):

[code]

[2020-06-07 03:43] razzfox commented on #129
If I understand correctly, you are passing `setActiveIndex` to other components that need it, and you have a useEffect that depends on that, which calls `setPageWithoutAnimation` to change the page of the ViewPager.

If you pass `setPageWithoutAnimation` directly (or inside a helper function) to the other components, and they call that instead of `setActiveIndex`, would your useEffect still need t

[2020-06-07 07:31] inmogr commented on #120
Any updates on this?!

[2020-06-08 08:21] dingdongping commented on #150
when you use 'react-native-scrollable-tab-view', register two views error will show

[2020-06-08 13:37] troZee commented on #177
https://github.com/react-native-community/react-native-viewpager/releases/tag/v4.0.1

[2020-06-08 13:37] #177 closed

[2020-06-08 20:03] ryanjwessel commented on #129
Hey @razzfox, I'm not sure if this would work in my case. There are other components that are relying on this index being provided as a value. If we called `setPageWithoutAnimation` directly, say by pressing a `MapMarker` on a `Map` component, then there would be no way to indicate that the `MapMarker` is selected too.

This is because this component is pure React Native, so it makes a comparison

[2020-06-09 09:23] jong-hui commented on #173
I have same problem in react-navigation v5 (native-stack)

[2020-06-10 02:20] genglei01 commented on #167
Is there any release schedule for this bug?

[2020-06-10 05:11] troZee commented on #167
I will merge and release it, once someone provides me an example to test it.

[2020-06-11 18:33] codecog commented on #173
@troZee Happy to take this on and try to solve the issue

[2020-06-12 04:55] beingArkReal opened #179 "How to render Viewpager as an item in Flatlist"
I'm looking for a way to implement viewpager inside flatlist render as an item, but unfortunately, view pager doesn't show inside a flatlist.

[2020-06-12 15:00] codecog commented on #173
If it helps, i can confirm it's only happening with v4+ so will focus my efforts there.

[2020-06-13 11:39] jimmy30 commented on #163
In my case, I just had to upgrade library "react-native-scrollable-tab-view" from "0.10.0" to "1.0.0" and it solved the issue.

[2020-06-13 11:49] henr commented on #164
same

[2020-06-13 17:34] bitttttten opened #180 "ViewPager does not render on iOS or Android"
## Summary

The pager does not render at all using example code.

## Environment info

[code]

Library version: Expo 37.0.0

## Steps to reproduce

This component is being rendered in an app, inside a tab navigation and scrollview, etc.

[code]

Renders:

![Screenshot 2020-06-13 at 19 31 30](https://user-images.githubusercontent.com/19930241/84575353-bf149a00-adac-11ea-8933-4611de611cc6.png)

## O

[2020-06-13 17:35] bitttttten commented on #180
For example, if I use the following:

[code]

It will render up to 30 units, but the rest of the pager will be cropped off:

![Screenshot 2020-06-13 at 19 35 11](https://user-images.githubusercontent.com/19930241/84575403-11ee5180-adad-11ea-9a18-18f87b659025.png)

[2020-06-13 17:46] bitttttten commented on #162
I think this issue might be related to the issue I raised here at https://github.com/react-native-community/react-native-viewpager/issues/180, although I did patch the module locally to remove the `children=..` line and my issue has been solved 🤔

What are the side effects of removing this line?

[2020-06-13 17:46] bitttttten commented on #180
Solved via https://github.com/react-native-community/react-native-viewpager/issues/162#issuecomment-624076408

[2020-06-13 17:46] #180 closed

[2020-06-15 19:57] bankya opened #181 "Failed to resolve: com.github.troZee:ViewPager2:v1.0.6"
# Bug report

## Summary
I am trying to upgrade react-native-viewpager from v2.0.2 to v4.0.1. After upgrading and running `yarn install`, I get the following after gradle sync:

[code]

## Environment info

`react-native info` output:

[code]

Library version: x.x.x

## Steps to reproduce

1. Upgrade `@react-native-community/viewpager` in package.json to v4.0.1
2. Run `yarn install`
3. Sync projec

[2020-06-16 03:54] Decin commented on #181
I also encountered this problem, but  the other day was good.
I think https://github.com/troZee/ViewPager2 which is not in jcenter, Causing "implementation 'com.github.troZee:ViewPager2:v1.0.6'" to fail

[2020-06-16 09:56] troZee commented on #181
It is true. This lib is hosted on [jitpack](https://jitpack.io/#troZee/ViewPager2). I have tried to reproduce your issue [here](https://github.com/troZee/viewPagerExample/blob/autolinking/package.json), but it seems to work.

Are you able to check, if your project contains below line:
[code]
it should look like this:
https://github.com/react-native-community/react-native-viewpager/pull/139/files#d

[2020-06-16 10:07] troZee commented on #162
TBH I don't know. It has been added before I started contributing to ViewPager. I can see, it causes some unexpected behaviour. Probably this prop should be called, once some kind of prop like "useLegacyOverriding" passed to View Pager component like below:

[code]

By default, `useLegacyProp` will be `false`. Someone can change VP behaviour toggling  `useLegacyProp`

[2020-06-16 10:17] troZee commented on #179
Can you provide a code snippet ?
Probably View Pager has not got defined height, so you need to pass it in styles.

[2020-06-16 14:54] bankya commented on #181
Oh great, that works perfectly. Though I had to add the `maven { url 'https://jitpack.io' }` under `allprojects` and not `buildscript` . Thank you @troZee

[2020-06-16 14:54] #181 closed

[2020-06-16 15:00] robban opened #182 "[iOS] Hidden page indicator shows after orientation change (when transitionStyle is curl)"
# Bug report

## Summary

I want to hide the page indicator in the viewPager in iOS. If is set

showPageIndicator={false}

the page indicator is initially hidden. However, after an orientation change, for example from portrait to landscape, the page indicator is showing. This seems to be related to the transitionStyle, since I only get it when I use transitionStyle="curl"

## Environment info

`re

[2020-06-16 17:56] jpamarohorta commented on #167
In my case the crash occurred 10% of the times this component was mounted (stats from Firebase), so it's difficult to track and make an example that always crashes.

[2020-06-16 21:22] NicolayS commented on #179
Hello! I'm sorry, that I interrupt, for me even I wrap up VeiwPager by <View> using the example from this page https://github.com/react-native-community/react-native-viewpager, it doesn't work
below the code
--------MainScreen.js
import React from 'react';
import {
  View,
  Text,
  FlatList,
  Button,
  Platform,
  StyleSheet
} from 'react-native';
import ViewPager from '@react-native-community/v

[2020-06-16 23:37] NicolayS commented on #179
I'm sorry for bothering, adding <View style={{height: 80}} > works perfect

[2020-06-17 02:50] gabrielbull opened #183 "Crash: java.lang.IllegalStateException: Expected the adapter to be 'fresh' while restoring state."
# Bug report

## Summary

When navigating using android native fragments, restoring a screen with a ViewPager crashes on android. This is a regression in version 4 that did not happen in version 3.

Here is the complete crash stack trace:

[code]

## Environment info

`react-native info` output:

[code]

Library version: 4.0.1

## Steps to reproduce

Restore view state on android

## Reproducible

[2020-06-19 08:07] panda6412 commented on #109
same problem here in IOS

[2020-06-19 08:47] panda6412 commented on #109
There has trick solution but not the best solution which I found could work.

[code]

[code]
I just add the showViewPager flag, and whenever I increase or decrease screen length, I will also alter showViewPager in order re-render the ViewPager component

[2020-06-19 09:18] troZee commented on #109
Hey @rakeshvora2007,
I would really appreciate, if you can find some time and take a look on it.

I can see from @panda6412 's snippet, that VP need to be unmount and then mount again.

If you need any guidance, how to fix it, please let me know here in comments :D

Because Android has different implementation than iOS. Both are purely native and can work differently. Of course on the end the effe

[2020-06-19 13:16] beingArkReal commented on #179
Here is the link to what I'm actually trying to pull off 👍

https://github.com/beingArkReal/view_pager_flatlist/blob/master/index.js

**Note**
_Currently, I'm not able to scroll the FlatList inside the View Pager_

[2020-06-21 09:09] keyblade95 opened #185 "Wrong safe area in presence of absolute-positioned view"
# Bug report
## Summary

As you can see from the screenshot, the safe area is computed wrongly when a view with `position: absolute` is placed near the view pager.

## Environment info
`react-native info` output:
[code]

Library version: "^4.0.0",

## Steps to reproduce
[code]

<img width="511" alt="image" src="https://user-images.githubusercontent.com/11407258/85220791-d9530700-b3ae-11ea-9245-4e0

[2020-06-21 12:46] bitttttten commented on #162
Ah, sadly I am still hitting this issue on even with the patch of removing `children=..` from above. I am using it inside a Modal component, although I am not sure if this is messing it up.

![Screenshot 2020-06-21 at 14 40 38](https://user-images.githubusercontent.com/19930241/85224823-407fb400-b3cd-11ea-89f4-02cfaa91d2b9.png)

My component looks something like this:

[code]

So I have a ViewPage

[2020-06-21 13:08] bitttttten opened #186 "Android rendering children of View as separate pages"
## Summary

On Android, all children of children elements get rendered onto their own pages.

## Environment info

[code]

Library version: Expo 37.0.0

## Steps to reproduce

[code]

Renders incorrectly on Android. I have 4 screens here that I can swipe through, but I expect only 2 screens with text underneath.

![WhatsApp Image 2020-06-21 at 15 05 35](https://user-images.githubusercontent.com/19

[2020-06-22 06:32] troZee commented on #183
`When navigating using android native fragments, restoring a screen with a ViewPager crashes on android. `

Could you provide a code snippet ? I would like to test below solutions:
https://stackoverflow.com/questions/56646711/expected-the-adapter-to-be-fresh-while-restoring-state

[2020-06-22 06:39] troZee commented on #186
I see [expo](https://github.com/expo/expo/blob/master/CHANGELOG.md#3700) uses 3.3.0 version, which is the most stable.

You have not passed styles to `ViewPager`, so maybe this is an issue ?

[2020-06-22 06:42] troZee commented on #185
Hey 👋
Thank you for reporting an issue. Can you try to remove [childrenWithOverriddenStyle](https://github.com/react-native-community/react-native-viewpager/issues/162#issuecomment-643655499) in your node_modules ?

[2020-06-22 14:26] gabrielbull commented on #183
Here is a code snippet to reproduce the bug.

You need to install `navigation`, `navigation-react` and `navigation-react-native`.

[code]

Replace `App.js` with this:

[code]

[2020-06-24 09:45] mrquanghuy opened #187 "Crash App: ReactNativePageView.m - Line 382"
# Bug report

[2020-06-24 09:46] troZee commented on #187
Please provide more details

[2020-06-24 15:36] bitttttten commented on #186
Hey! Thanks for your suggestion. The screenshots above were from @react-native-community/viewpager@3.3.0, and were also on Expo 37.

It's also not working when adding `flex: 1` styles onto ViewPager just like the README. I can reproduce this with the demo code from the README on a bare expo app, so I am guessing there might be an issue with linking?

iOS Demo code:

![Screenshot 2020-06-24 at 17 3

[2020-06-27 17:58] keyblade95 commented on #185
No, that happens also after having removed childrenWithOverriddenStyles :/

[2020-06-30 07:55] stami commented on #167
There may be a race condition causing this crash.

In `ReactNativePageView.m` the `createChildViewController` is called with the **same array of UIViews** (`self.reactSubviews`) from `renderChildrenViewControllers` and `addPages`.

The @farad4y 's patch fixes the issue because `addSubView` [removes the previous superview if needed](https://developer.apple.com/documentation/uikit/uiview/1622616-add

[2020-06-30 12:38] debuggermalhotra commented on #186
Hey! Same issue for me too. Only occurs on Android while works completely fine on ios. Any fixes? style={{flex:1}} doesn't fix anything. @bitttttten were you able to figure out?

[2020-06-30 12:46] bitttttten commented on #186
@debuggermalhotra I haven't figured it out yet. I am still looking into alternatives..

[2020-06-30 15:27] Immortalin commented on #186
@bitttttten is this exclusive to Expo? Can you replicate the problem on React Native without Expo?

[2020-06-30 15:29] bitttttten commented on #186
I only have ever used Expo with RN, but I did create a bare Expo app and could reproduce this issue in there too. I don't actually know how to make an RN without Expo yet.

[2020-06-30 17:30] waqarkhan327 opened #188 "Unable to setup vertical Scroll"
# Bug report

## Summary
Unable to setup Vertical Scroll on Android.
Whatever value I'm assigning to "orientation", it always scrolls horizontally.

## Environment info

Expo Version 3.13.1
Tested on Android 9 Device, and Android 7.0.1 Emulator

Library version:
Tested on both 3.1.0 and 4.0.1

Describe what you expected to happen:

1. It should scroll vertically when I'm assigning the "vertical" t

[2020-06-30 17:30] Immortalin commented on #186
Give it a try without Expo and let me know if you can reproduce. It might be Expo related.

[2020-07-01 10:01] inmogr commented on #129
`setPage` is not working at all for me the page is not being changed

[2020-07-01 16:47] joyacv2 commented on #129
Hi,

I also test this very simple code in iOS: onPageSelected={(e) => { console.log(e) }}

When doing movement between pages, the app start crashing aleatory without any error.

I am using the latest version : 4.0.1

[2020-07-01 19:23] Immortalin commented on #186
@bitttttten I found a workaround. Just wrap the child `View` in another `View` and key the external `View`

[2020-07-02 22:02] xlf14leena opened #190 "Unable to set the initialPage on ViewPager"
The viewpager always seems to default to the first page if I use an iterator to create the child views. If I replace my iterator with the child elements directly like your sample, the initialPage works. I only tested on an android emulator.
` <ViewPager
        style={styles.viewPager}
        initialPage={3}
        scrollEnabled={true}
        showPageIndicator={true}
        orientation="horizo

[2020-07-05 19:15] troZee commented on #190
Hey,
Thank you for reporting an issue. I could not reproduce it in example. You can checkout, how view pager works here:
https://github.com/react-native-community/react-native-viewpager/tree/master/example

[2020-07-06 09:22] BohdanRozov commented on #187
@troZee I am not the issue author, but also met this crash in production and there are really lot of crashes with it. Lib version is 4.0.0
![image](https://user-images.githubusercontent.com/29180309/86577553-13153780-bf83-11ea-9479-a5c0a0ff6b46.png)
![image](https://user-images.githubusercontent.com/29180309/86577583-22948080-bf83-11ea-8114-26e6cd941931.png)

[2020-07-06 10:35] troZee commented on #187
Hey,
thank you for providing more context. I think, it will be fixed, once https://github.com/react-native-community/react-native-viewpager/pull/189 merged. After merge, please let me know, how it looks like :D

[2020-07-06 11:34] codecog commented on #173
Sorry guys, i won't be able to continue on with this. Had a few things happen and i won't be able to commit as much time here right now. Once i've sorted that and if this is still an issue i'll come back to it.

[2020-07-09 09:07] BohdanRozov opened #193 "Fatal Exception: java.lang.NullPointerException (FragmentStateAdapter.java line 103)"
# Bug report

So far cannot reproduce on my device, but some of app users met this crash. My suggestion is that it is somehow related to lifecycle handling as almost every crash happened in background according to firebase crashlytics

![image](https://user-images.githubusercontent.com/29180309/87020141-2111c500-c1dc-11ea-9db0-76e563f7edc6.png)
![image](https://user-images.githubusercontent.com/29

[2020-07-10 02:23] WordKuo opened #194 "Display only the first page on Android"
[code]
**Version: react-native: "0.61.0"**
**Problem: The rest of the entries are not shown, show only the first item**

[2020-07-10 12:16] troZee commented on #187
@BohdanRozov can you update VP to 4.1.0 and check, if issue still exist ?

[2020-07-12 08:29] kabus202 commented on #164
guys any solution for this problem?

[2020-07-12 14:34] hengkx opened #195 "How to know the sliding direction？"
# Question

I have three page cycles to change content

[2020-07-14 04:55] hengkx opened #196 "How to infinite loop?"
# Question

[2020-07-14 09:31] AKaiYi commented on #179
https://github.com/beingArkReal/view_pager_flatlist/blob/master/index.js，in 96 lines，is FlatList data DATA_ONE ，Why can only display 10？

[2020-07-14 13:29] troZee commented on #195
you can check it using `onPageSelected ` by comparing oldValue with new one.

[2020-07-15 16:19] ali-sardari opened #197 "Could not resolve all files fragment and recyclerview:"
Execution failed for task ':react-native-community_viewpager:javaPreCompileDebug'.

     Searched in the following locations:
         https://dl.google.com/dl/android/maven2/androidx/fragment/fragment/1.1.0/fragment-1.1.0.jar

[2020-07-15 22:44] RodrigoSosa95 commented on #167
+1 on this issue, even on version `4.1.0` happens to me when called `viewPager.current.setPage`.

[2020-07-16 06:13] ali-sardari commented on #197
solved by updating my gradle 👍

android/build.gradle :

dependencies {
        classpath("com.android.tools.build:gradle:4.0.1")
    }

gradle-wrapper-properties:

distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip

[2020-07-16 06:14] #197 closed

[2020-07-16 07:53] CrnogoracIvan commented on #185
Is there any news regarding to this issue? :(

[2020-07-16 11:34] troZee commented on #196
Hey,
For now, we don't support this kind of functionality

[2020-07-16 11:37] #195 closed

[2020-07-16 11:41] troZee commented on #193
Previous version (3.3.0) does not cause a crash ?

Could you provide a code snippet ?

[2020-07-16 12:16] troZee commented on #167
It has been resolved here https://github.com/react-native-community/react-native-viewpager/pull/189 in 4.1.0 version.

[2020-07-16 12:16] #187 closed

[2020-07-16 12:16] #182 closed

[2020-07-16 12:18] troZee commented on #193
Closed in favor fo https://github.com/react-native-community/react-native-viewpager/issues/193

[2020-07-16 12:18] #193 closed

[2020-07-16 14:19] felipeViana commented on #194
have same problem here after some time fiddling with the app.

[2020-07-16 14:29] troZee commented on #194
Probably it is related to https://github.com/react-native-community/react-native-viewpager/pull/191
Can you try the version from master ?
in you `package.json` replace `"@react-native-community/viewpager` with below line:
`"@react-native-community/viewpager": "react-native-community/react-native-viewpager#master",`

Once you do it, please let me know, if it helped.

[2020-07-16 15:25] hengkx commented on #196
#30

[2020-07-17 02:27] taingmeng commented on #186
Adding `collapsable={false}` to each child view seems to fix the issue. It's used in the example code:

https://github.com/react-native-community/react-native-viewpager/blob/master/example/ViewPagerExample.js#L112

[2020-07-17 07:03] troZee commented on #186
https://reactnative.dev/docs/view.html#collapsable

[code]

@taingmeng you are right. Maybe we should consider to add this property by default.

[2020-07-17 20:09] leonamjlpaula opened #199 "Could not find com.github.troZee:ViewPager2:v1.0.6."
# Bug report

## Summary
After installed via` yarn add` I cannot install app with `npx react-native run-android`. I've tried latest and older versions (4.0.1, 4.0.0).

`error Failed to install the app. Make sure you have the Android development environment set up: https://facebook.github.io/react-native/docs/getting-started.html#android-development-environment. Run CLI with --verbose flag for more

[2020-07-18 20:53] eladgel commented on #167
Has this been really fixed? Making sure before I upgrade my library. @RodrigoSosa95 ?

[2020-07-20 09:29] srfaytkn commented on #164
+1

[2020-07-21 12:09] Lg0gs opened #200 "Is it possible to restrict user to go to the previous page?"
I want to scroll only in one direction. How is it possible?

[2020-07-21 12:13] troZee commented on #200
Hey @Lg0gs
Now, we are not supporting this kind of functionality. I will change this issue into feature request.

In case of any help, feel free to ask here.

[2020-07-21 12:36] troZee commented on #199
Hey,
Thank you for reporting an issue. I was trying to reproduce you issue here : https://github.com/troZee/viewPagerExample/commit/71912f8845bf38017610fe7184677f5f5f53a72e

But it seems like everything works fine. You can also try to add below code to `path/to/your/project/example/android/build.gradle`

[code]

[2020-07-21 12:38] Lg0gs commented on #200
@troZee Hey, thanks for your reply.
I achieved the same result by removing the previous element from the array (I render pages looping through it) and it works as expected.

[2020-07-21 12:46] troZee commented on #200
@Lg0gs
I will not close this issue, because maybe someone is struggling with this case. I would be great to support it on native part.

[2020-07-23 15:39] leonamjlpaula commented on #199
Thanks a lot! That solved the issue!

[2020-07-23 15:39] #199 closed

[2020-07-24 20:41] yashspr opened #202 "ViewPager Not Rendering"
# Bug report

## Summary

ViewPager is not getting rendered on the screen. Tried the code sample on this repo's README but nothing is rendered on the screen but the text views i added. Tried applying height to the ViewPager but nothing changed.

The library is being used in an expo project.

## Environment info

`react-native info` output:

[code]

Library version: 4.1.1

Also tried with version `

[2020-07-25 06:38] troZee commented on #202
Can you set `collapsable` prop to false like below:

https://github.com/react-native-community/react-native-viewpager/blob/64bca9e089ff9e7e0acadabf92fe23348f82070e/example/ViewPagerExample.js#L112

and check the result ?

[2020-07-25 11:17] CrnogoracIvan commented on #185
@keyblade95, you can bypass problem by removing absolute layout and setting negative margin on element which will be in front.

[2020-07-25 16:36] keyblade95 commented on #185
I don’t know if I understood well.. should I remove the absolute layout from the SafeArea child view? Can you provide a minimal example, please?

[2020-07-25 19:16] yashspr commented on #202
I set the `collapsable` property to false on each of children in the ViewPager but that didn't change the output. It's still the same as the attached screenshot.

[2020-07-26 02:58] olhapi opened #204 "Perfomance and memory"
# Question

I need to show a 100 pages (some text, image and a few buttons on each) in some cases so I'm wondering about possible performance issues. Android implementation using ViewPager2 (with recyclerview underneath) which seems like a good fit for the task. Could *react-native-viewpager* handle a 100 pages or should I use something else (maybe native?) for that?

[2020-07-26 12:18] radko93 commented on #173
If you can manage navigation yourself then you can unmount the view pager before navigating. Unfortunately, it's not possible to do it like this always. Do you still need repro for that?

[2020-07-27 06:43] troZee commented on #202
Could you use below styles for `viewPager` style ?

[code]

ViewPager has some problems with `flex: 1` value.

[2020-07-27 07:09] troZee commented on #185
Can you try `style={{width: "100%", height:"100%"}}` instead of `flex:1` ?
Additional, can you use `SafeArea` instead of `Fragment` ? `ViewPager`'s parent here is fragment, so view inset can be wrong setup. Please add `backgroundColor: "pink"` and check the safe area for this view

[2020-07-27 07:28] troZee commented on #204
Hey @olhapi
Currently,`ViewPager` does not support lazy loading on JS side (https://github.com/react-native-community/react-native-viewpager/issues/104). As you mentioned, native side is prepared for it, but the problem is with JS implementation.

All views will be initialized in memory eagerly (View should be created,  if needed in lazy way). In above issue, there is some PoC, how it can be imple

[2020-07-27 07:30] keyblade95 commented on #185
I cannot use SafeArea as the top parent because I want to achieve the following effect: the ViewPager pages have a background image and I want that to cover the entire screen. So, I set the pages to be fullscreen and the footer to be inside the safe area

[2020-07-27 08:24] CrnogoracIvan commented on #185
@keyblade95 , in your footer, remove `absolute` in style, and then add `marginTop: -50` for example. That will do the job.

[2020-07-27 17:00] milkcha opened #205 "android.support.v4.net not exist"
Task :@react-native-community_netinfo:compileDebugJavaWithJavac FAILED
node_modules/@react-native-community/netinfo/android/src/main/java/com/reactnativecommunity/netinfo/ConnectivityReceiver.java:12: error: package android.support.v4.net not exist
import android.support.v4.net.ConnectivityManagerCompat;
                             ^
/node_modules/@react-native-community/netinfo/android/src/main/

[2020-07-28 01:16] davidg327 opened #206 "pageMargin does not work on iOS"
In android the view looks like this with pageMargin
<img width="46" alt="Captura de Pantalla 2020-07-27 a la(s) 8 10 57 p  m" src="https://user-images.githubusercontent.com/47389371/88607679-6b50ce00-d045-11ea-8006-4337a6fe46d3.png">

When I run it on iOS it doesn't look the same
<img width="93" alt="Captura de Pantalla 2020-07-27 a la(s) 8 04 24 p  m" src="https://user-images.githubusercontent.co

[2020-07-28 03:23] olhapi commented on #204
Hello @troZee. I'm just diving in the react native world and not ready to mess with what I don't know but rather pick something created by experienced developers. Thanks for the answer.

[2020-07-28 03:23] #204 closed

[2020-07-28 07:25] skychx opened #207 "ExceptionsManager.js:126 RCTJSONStringify() encountered the following error: Floating point values must be finite. JSON does not support NaN or Infinity."
# Bug report

## Summary

When I use `react-native-viewpager`, debug mode show `ExceptionsManager.js:126 RCTJSONStringify() encountered the following error: Floating point values must be finite.  JSON does not support NaN or Infinity.`, Everything's fine when I'm not using it.

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-07-28 at 15 10 37](https://user-images.githubusercontent.com/24872439/

[2020-07-28 11:35] Natteke commented on #207
@skychx hi!

Looks like this error is not in viewpager.
I have also found this one, and it just appeared and disappeared in our. I did just nothing.

try to reboot simulator, clean and rebuild xcode/Android project. Run react-native with --clear-cache

Hope it will help

[2020-07-28 11:41] troZee commented on #205
You need to use `https://github.com/mikehardy/jetifier` to convert androix to support lib. Unless you can use `2.x` version

[2020-07-28 11:41] #205 closed

[2020-07-28 11:47] troZee commented on #207
Hey @skychx
I have checked example and everything works fine. Can you try 3.3.0 ?

[2020-07-28 13:51] troZee commented on #206
Could you provide a code snippet for this issue ?

[2020-07-28 14:48] gabrielbull commented on #207
I have the same problem. It definitely is coming from viewpager.

[2020-07-28 14:54] davidg327 commented on #206
<ViewPager
                    style={{ ...styles.homeSlider, width: this.state.containerWidth, height: (this.state.containerWidth * wp(61.5)) / wp(203.75) }}
                    initialPage={0}
                    onPageSelected={(change) => {console.log(change.nativeEvent.position, "CHANGE---------------"); this.onPageChange(change.nativeEvent.position)}}
                    pageMargin={-wp(2.5)

[2020-07-28 15:34] gabrielbull commented on #207
Here's the patch file in the meantime. You can use [patch-package](https://github.com/ds300/patch-package#readme) to patch after a yarn install.

[code]

[2020-07-28 19:23] #207 closed

[2020-07-28 22:35] bhirave opened #209 "GetNode() warning on RN 63.2+"
# Bug report

## Summary
Warning appearing: ViewPager: Calling `getNode()` on the ref of an Animated component is no longer necessary. You can now directly use the ref instead. This method will be removed in a future release.

## Environment info

`react-native info` output:

[code]

Library version: 4.1.3

## Steps to reproduce

1. Run the ReactNative app
2. …

Describe what you expected to happe

[2020-07-29 03:22] skychx commented on #207
Thanks, this change is very useful to me! I've upgraded to 4.1.3 and it completely solves the problem

[2020-07-29 08:42] troZee commented on #209
Have you tried this solutions ?

https://github.com/archriss/react-native-snap-carousel/issues/672
https://stackoverflow.com/questions/60910385/upgraded-to-react-native-0-62-0-getting-warning-sign-calling-getnode-on-t

Viewpager does not use `getNode` function, so probably you are using this function inside your code.

I need more information to be able to reproduce this problem. Please let me kno

[2020-07-29 08:43] troZee commented on #207
Thank you guys @skychx and @gabrielbull for cooperation :D

In case of any problem or proposition, feel free to create the new issue.

[2020-07-29 14:46] yashspr commented on #202
Thank you! It works properly now.
I don't know how common this issue is but i feel it would be better if this was mentioned in the README.

[2020-07-29 14:58] troZee commented on #202
Good point. I have limited amount of time due private circumstances. I will try to add this as known issue.
You can also do that, so feel free to make a PR and in case of any questions, please let me know :D

[2020-07-29 14:58] #202 closed

[2020-07-30 02:10] chj-damon commented on #167
I'm facing the same problem. I'll try to upgrade the version and see if it's fixed.

[2020-07-30 12:24] kunalsolanki1992 commented on #132
Using this is not changing anything ..

I am trying to use viewpager in horizontal orientation inside vertical carousel, it works in iOS perfectly whereas on android viewpager can't be scrolled

[2020-07-30 13:42] mrbrentkelly opened #211 "Removing a page not working on Android"
# Bug report

## Summary

I am unable to remove pages in the ViewPager other than the last page.

Say I have a ViewPager with 3 pages. If I remove the last page (page 3) it works perfect. But if I remove page 2 I am left with a blank screen.

**This is it working when deleting the last page**

<img src="https://user-images.githubusercontent.com/5814579/88928894-450f7600-d271-11ea-9a06-05475d849eb3

[2020-07-31 03:23] muhammadwafa opened #212 "when pages are heavy component the first time nothing displayed"
for the first time I cant see my component, but when I call `setPage` everything is fine.

Only the first time, the first page does not show, although I tested it renders, but nothing is showing until I change page then everything is Ok.

[2020-07-31 06:32] troZee commented on #212
Hey @muhammadwafa
Thank you for reporting an issue. What platform is affected (android/iOS/both) ? Could you provide a repro code ?

I have tested an example app in this repository and everything works fine. I am waiting for more information

[2020-07-31 06:33] #209 closed

[2020-07-31 06:54] muhammadwafa commented on #212
This is working fine on `android 6` and above, but on `Sumsung A5 with android 5` this problem appears. On `android 10` there is no problem. on android 5 after I call setPage(index) then everything works well, even the current page.

[code]

In above code only in the first render `<MyContacts />`does not appears, although it renders, but nothing is showing.

This was working well without any probl

[2020-07-31 07:07] troZee commented on #212
can you try add prop `collapsable={false}`  like here ?

https://github.com/react-native-community/react-native-viewpager/blob/master/example/ViewPagerExample.js#L112

[2020-07-31 07:13] muhammadwafa commented on #212
If you mean added like below, then it doesnt work
[code]

[2020-07-31 07:14] muhammadwafa commented on #212
The same code was working fine `on react-native 0.61.5 and viewpager 3.3.0`

[2020-07-31 12:17] muhammadwafa commented on #212
@troZee I tested this problem happens with `ViewPager versions: 4.0.0 && 4.0.1 && 4.1.0 && 4.1.1 && 4.1.2 && 4.1.3 with galaxy A5 on Android 5.0.2`

If you want to test it please test it with android 5.0.2 and also while checking put a `Flatlist` inside one of the page then problem appears when for the first times renders you will se a blank area.

[2020-08-01 04:01] enigmablue commented on #167
Also faced the same problem. omg i hope this fixes.

Now am on "@react-native-community/viewpager": "^4.1.3",

[2020-08-03 12:18] troZee commented on #167
I reopening this issue, because bug still exist

[2020-08-03 13:02] enigmablue commented on #167
Yes i'm getting the same error. But this time, it's not (randomly) killing the app completely, just consistently throwing an error. My current unglamorous workaround to fix the race condition is:

[code]

[2020-08-03 13:18] troZee commented on #167
Can you try to change:
[code]
into:
[code]

[2020-08-03 13:41] enigmablue commented on #167
The thing is my displayList will never be empty because in my useState i set it. The props will always have a value.

It is one of the conditions to come into this view in the first place. If its empty it shows a different view.

const [displayList, setDisplayList] = useState(loadDefault(props.shares));

[2020-08-03 22:20] davidg327 opened #213 "Change color showPageIndicator"
# Question

how can i change the color of showPageIndicator in ios

[2020-08-04 06:43] ZeroJian commented on #167
Also faced the same problem

[2020-08-04 06:44] troZee commented on #213
Currently, we don't support this kind of feature.

[2020-08-04 06:45] krystiansliwa commented on #167
@enigmablue Could you provide a minimal repro example? Without that it is very hard to reproduce that issue

[2020-08-04 11:42] lukebars commented on #164
@troZee did you manage to solve this?

[2020-08-04 13:46] #213 closed

[2020-08-04 13:50] davidg327 commented on #206
<img width="878" alt="Captura de Pantalla 2020-08-04 a la(s) 8 49 52 a  m" src="https://user-images.githubusercontent.com/47389371/89301649-8916c800-d62f-11ea-9e53-63043f47e6ad.png">

[2020-08-06 07:58] dharminderraja commented on #183
same issue here .. was not happening in the prior version

[2020-08-07 03:17] wong2 commented on #164
`import { TouchableOpacity } from 'react-native-gesture-handler'`
doesn't work for me, it makes the view pager un-swipeable

[2020-08-07 03:50] wong2 commented on #164
Downgraded to 3.3.0, it works fine

[2020-08-07 07:44] #211 closed

[2020-08-07 17:28] younes200 commented on #167
Had also the same problem, used `requestAnimationFrame(() => refViewPager.current?.setPage(index));` to avoid the exception.

[2020-08-08 02:43] enigmablue commented on #167
sorry i haven't had a chance to try to do this yet. am working on a few priority items right now.

-- on a separate note
Unfortunately i just hit the same 'multiple views' error on Android. Also random. :( And the weird thing was, the view which had the viewpager wasn't even rendered.

[2020-08-11 06:39] Relax594 commented on #164
Using a FlatList with Viewpager 4.0+ on Android makes scrolling unusable. Trying to scroll down and it constantly "steals away" the scroll event and scrolls left / right.  Going back to 3.3.0 is working fine. However the 3.x has [this](https://github.com/react-native-community/react-native-viewpager/pull/170) issue on iOS which wants me to upgrade..

[2020-08-11 06:54] Relax594 commented on #132
same issue here. 3.3.0 is working fine but upgrading to 4.x breaks it.

[2020-08-11 20:16] Niz47 commented on #18
saved my time :) thanks a million

[2020-08-12 14:28] sushrut-desora commented on #18
It might be related to this issue. https://github.com/expo/expo-cli/issues/1398

[2020-08-13 10:03] hengkx opened #216 "Initialization why onPageScroll is executed after onPageSelected？"
# Question
![image](https://user-images.githubusercontent.com/8358236/90122104-62733280-dd8f-11ea-8e22-5941dcf24b75.png)

[2020-08-14 03:10] jpdan opened #217 "Custom auto play endless loop"
iO & Scrollview：Custom add autoplay，The moment of switching，flexible drop-down will trigger 'onPageSelected'，manually call 'setPage'，Will cause an infinite loop, constantly switching back and forth
![image](https://user-images.githubusercontent.com/3361732/90209429-ff7cac80-de1d-11ea-8e58-3341f445fa9e.png)
![image](https://user-images.githubusercontent.com/3361732/90209749-c133bd00-de1e-11ea-9ca7-

[2020-08-14 07:36] ChenhuaWANG22 commented on #164
I have this scrolling and touching conflict issue on iOS.
I use above method to fix it on iOS and later discover these touchables from react-native-gesture-handler don't working on Android currently. see [https://github.com/software-mansion/react-native-gesture-handler/issues/578](url)

at the end, I have to do below, ugly  : (

[code]

[2020-08-15 10:48] troZee commented on #216
Probably `onPageSelected` is called on first render of VP, hence you can see it in terminal.

[2020-08-15 10:51] hengkx commented on #216
Thank you for your reply. No matter what the situation is, I think it should be like this `onPageScroll` => `onPageSelected`

[2020-08-15 10:52] troZee commented on #216
And it works in that way except the first render.

[2020-08-15 10:55] hengkx commented on #216
I need to implement the function of the following code, so there is no way to directly meet it
[code]

[2020-08-15 10:55] troZee commented on #173
Yes, please

[2020-08-15 11:00] troZee commented on #216
[code]

[2020-08-16 01:08] hengkx commented on #190
android same problem.
I solve
[code]

[2020-08-17 05:13] Bardiamist commented on #174
Couple users got that crash.
"@react-native-community/viewpager": "4.1.4"

https://sentry.io/share/issue/21e4238f8c744600a23e654bef42f06f/
Device: WAS-LX2
Android: 8.0.0

https://sentry.io/share/issue/5a08bd96832c46c88b2f9fdee3e52e20/
Device: MAX_2
Android: 9

[2020-08-17 06:43] fadiquader commented on #173
same here, it happens when pressing back.  I'm using `react-navigation` + `react-native-screens`.

[2020-08-17 10:30] #81 closed

[2020-08-17 10:33] troZee commented on #25
@x0s3 @ferrannp are you still working on it ?

[2020-08-17 10:36] troZee commented on #30
Close in favor of #196

[2020-08-17 10:36] #30 closed

[2020-08-17 10:37] ferrannp commented on #25
Nope, I haven't had time as https://github.com/madhu314/react-native-tabbed-view-pager-android worked well for me still 😅.

[2020-08-18 07:54] ramonvermeulen commented on #186
I agree with this. Actually the way I found a solution to this problem was by looking through the issues with this library and luckily I found this post.

Would be nice if the Viewpager could have a property for this which is default to `true`, which basically dynamically adds collapsable true to all child views.

[2020-08-18 12:07] stefan-girlich opened #219 "Pages are not rendered when first render pass involves empty data set"
# Bug report
## Summary
### Current behavior
When the data used to generate `children` for `<ViewPager />` is initially empty (`[]`), subsequent render passes with actual non-empty lists of data do create the correct children/pages: No `ViewPager` pages content is rendered at all.

### Expected behaviour
`ViewPager` should correctly render its `children`. Previous (e.g. empty) `children` states sh

[2020-08-18 16:12] #216 closed

[2020-08-19 07:38] AronBe commented on #194
facing the same issue, on android only the first page is shown

"react-native": "0.63.2",
"@react-native-community/viewpager": "^4.1.6",

`<ViewPager style={styles.viewPager} initialPage={0} showPageIndicator>
      <View
        key={p1.key}
        style={[styles.page, { justifyContent: 'center', marginBottom: 50 }]}

        <Styled.TitleWrapper>
          <Spacing marginBottom={16}>

[2020-08-19 14:41] osdnk commented on #173
I think this bug is quite urgent. It happens when we have `viewpager` inside `native-stack` i.e. `creatweNativeStackNavigator`

[2020-08-19 21:20] felipeViana commented on #164
I'm having this problem too, only in android.
Looks like @troZee commit worked for me, i'll test it more thoroughly to make sure it solved the problem and reply here later.

[2020-08-20 13:59] LRNZ09 commented on #173
I also have this problem with `ViewPager` v4.1.6 and `react-native-screens` v2.10.1 using a native stack

[2020-08-20 19:28] ethanyuwang commented on #167
Had the same problem and younes200's workaround worked for me

[2020-08-20 23:24] zoftify commented on #194
+1, We're facing the same issue

[2020-08-24 10:59] Relax594 commented on #135
@iqbalfaisal im facing the same issue. Did you find a solution to this?

[2020-08-24 13:22] alpha0010 commented on #104
Basic js (ts) side implementation.  Works well enough for my purposes.  You may be able to adapt.
[code]

Also `forwardRef()` lacks generic support, so I used:
[code]

[2020-08-24 17:02] stefan-girlich commented on #219
Hi @troZee , thanks for double-checking.
Would you happen to have an iOS device available? I could imagine that this could be related to the native layout mechanisms.

[2020-08-24 18:31] brunocrpontes opened #220 "Add example test to readme"
## Summary
Testing screens with ViewPager that uses ```setPage``` function fails with the following error:

**TypeError: Cannot read property 'Commands' of undefined**

Tests like below will fail:

[code]
## Environment info

`react-native info` output:

[code]

Library version: 4.1.6

## Steps to reproduce

1. Create a test with ```<ViewPager />```
2. Take its ref like ```<ViewPager ref={ref => v

[2020-08-24 19:41] felipeViana commented on #194
#191  fixed it for me

[2020-08-25 07:05] troZee commented on #219
I thought, it was related to android platform.
I have not got any change to check it on real iOS device. I will try to do it as fast as I can.

Maybe we can consider to return empty view, when children array is empty ? WDYT ?

[2020-08-25 07:07] troZee commented on #220
Hey,
Thank you for reporting an issue. What platform is affected ?

From my POV, you should call it using current like below:
https://github.com/react-native-community/react-native-viewpager/blob/master/example/ViewPagerExample.js#L103

[2020-08-25 07:09] troZee commented on #194
Could you check, if 4.1.1 [version](https://github.com/react-native-community/react-native-viewpager/releases/tag/v4.1.1) fixes it ?

[2020-08-25 10:34] AronBe commented on #194
@troZee I can confirm that 4.1.1 fixes it !

[2020-08-25 12:52] Covicake commented on #220
I'm having the same issue, but only when running in test environment on Android platform. The test fails with the same error message the OP is having. I'm not using the library directly, but through a third party (`react-native-scrollable-tab-view`), and they are using an Animated version with: `Animated.createAnimatedComponent(ViewPager)`

[2020-08-25 17:32] brunocrpontes commented on #220
It's happening in testing platform, in my Jest tests to be more exactly. Run it on device works fine.

I'm mocking package to workaround the issue, like below:

[code]

**Update:**
I added a test example that fails in issue description.

[2020-08-26 00:26] brunocrpontes commented on #155
I'm facing this issue and @thecodecafe hint didn't work for me.

This error happens when view pager are wrapped by some ```<KeyboardAvoidView />``` component and ```<ViewPager />``` uses flex to define its size.

I haven't any clue about how implementation in iOS is done, but looks weird for me this kind of behaviour.

[2020-08-27 08:16] KingAmo opened #221 "[Feature request] web support"
# Feature request

if it is possible that we have `react-native-web`  support?

[2020-08-27 09:35] troZee commented on #221
duplicated https://github.com/react-native-community/react-native-viewpager/issues/91

[2020-08-27 09:35] #221 closed

[2020-08-27 12:35] srfaytkn commented on #212
+1

[2020-08-28 05:22] skychx opened #222 "Child view disappears, when Fast refresh is enabled"
# Bug report

## Summary

After android Class Component fast refresh, the children Component disappeared

## Environment info

`react-native info` output:

[code]

Library version: 4.1.6

## Steps to reproduce

[code]

1. Don’t make any changes, save the code, fast refresh
2. children Component disappeared

<img src="https://user-images.githubusercontent.com/24872439/91524150-1698bf80-e931-11ea-90

[2020-08-28 06:14] skychx commented on #222
### Before Fash Refreshing:

<img src="https://user-images.githubusercontent.com/24872439/91527519-81012e00-e938-11ea-9fe8-f6153f4f0e1b.png" width="100%">

<br />

### After Fash Refreshing:

![image](https://user-images.githubusercontent.com/24872439/91527644-b9087100-e938-11ea-9828-ed74c56e599a.png)

[2020-08-28 06:18] skychx commented on #222
@react-native-community/viewpager `4.1.4` have the same problem

[2020-08-28 10:11] maystrenkoYurii commented on #164
Same issue good work in v 3.3.1 , v4 if use TouchableHighlight from gesture handler hot work swipe scroll tabs, if from react-native swipe scroll handled onPress on flatlist item

[2020-08-28 10:58] troZee commented on #164
Can someone test above PR ?

What problems ?

[2020-08-28 11:23] troZee commented on #220
@brunocrpontes
Thank you for providing an example. I don't understand, what would you like to achieve in your test ?

[2020-08-28 11:25] #194 closed

[2020-08-28 11:25] #190 closed

[2020-08-28 11:49] lukebars commented on #164
@troZee
`github:react-native-community/react-native-viewpager#@troZee/fix-on-scroll`
doesn't seem to fix the problem.

[2020-08-28 11:51] brunocrpontes commented on #220
My test example isn't the best, is just to achieve error mentioned in issue.

In my case I built an paginated form using view pager as base component, part of my test is move to next page and try to capture some dependent instances of it, but in tests I can't move to next page. So current workaround is mocking it like my previous comment.

[2020-08-28 11:58] troZee commented on #164
Could you provide a code snippet, which I can test ?

[2020-08-28 12:02] lukebars commented on #164
@troZee Just a FlatList full of big TouchableOpacity's navigating to other screen. I can't provide a working code snippet right now, but if you won't be able to reproduce it, I could take some time to prepare one.

[2020-08-28 12:05] troZee commented on #220
You cannot use below code
[code]
because viewpager has native implementation. There is no javascript logic inside.

If you would like to test VP, you need to mock this [class](https://github.com/react-native-community/react-native-viewpager/blob/master/js/ViewPager.js) and then mock implantation for `onPageSelected` method.

[2020-08-28 12:07] troZee commented on #164
@lukebars can you also check the v. 3.3.0 ?

[2020-08-28 12:08] lukebars commented on #164
@troZee We're using `3.3.0` in prod right now and that works like a charm.

[2020-08-28 12:09] brunocrpontes commented on #220
@troZee understood, but why onPageSelected? I wish to move to next view pager page, the error came from "Commands" in setPage implementation.

[2020-08-28 12:18] brunocrpontes commented on #220
Hmm, I will try that and back with a feedback. Thanks @troZee for help!

[2020-08-30 13:34] badaz commented on #155
Facing the same problem, tried to remove the KeyboardAvoidingView and problem disappears, however I need the KeyboardAvoidingView, anyone has an idea on how to solve this problem without having to remove the KeyboardAvoidingView or having a fixed height?

[2020-08-31 06:08] Relax594 commented on #164
I can confirm the PR does not work. v3.3.1 is fine.

[2020-08-31 11:36] RobTS commented on #167
Also experiencing this on iOS. I tried reproducing in a sample project, but was not successful.

Here is a rough description of my setup:

I have a react-navigation TabNavigationController with three tabs, first and last have a ViewPager. Both use the same wrapper around ViewPager, with the following snippet:

[code]

On startup when the initial tab is the third one (I guess otherwise it just rend

[2020-08-31 18:34] jdperos opened #224 "Storing refs into a Map or Array leaves the "current" property as null"
# Bug report

## Summary

I am attempting to create an array of JSX Elements out of an array.map() lambda, but when setting and storing a ref for each of them, those refs return as objects with their "current" as null.

More information from this post:
https://stackoverflow.com/questions/63651084/map-of-refs-current-is-always-null?noredirect=1#comment112557125_63651084

## Environment info

`react

[2020-09-01 08:20] krystiansliwa commented on #167
Thank you @RobTS, In free time I will take a look on it. So probably problem is because of using setPage during initialization process (when component is mounting and crating on native side)

[2020-09-01 10:31] Relax594 commented on #164
@troZee you can test it using this snippet. Try to scroll the pdf on the second page on Android. Best of luck :+1: This works fine in v3.3.1, however using v4.x makes it unscrollable. iOS is totally fine on both versions. [react-native-pdf](https://github.com/wonday/react-native-pdf) uses a FlatList in the background.

**App.js**
[code]

**Package.json**
[code]

[2020-09-03 20:12] felipeViana commented on #164
I'm using react-native-tab-view to render tabs at home screen and some internal screens as well.
The tab content at home would be blank after going in the internal tab screens then going back to home.

Other people tested and related different problems but i ended up going for another solution and didn't try to find the root cause for these problems.

[2020-09-04 19:25] viniaxt commented on #164
I do found a workaround to fix it

I changed my structure so my father component is a flatlist. I did that because i can use flatlist onScroll props to disable touch from rendered items. You can use this idea to do what you want, since FlatList is really powerfull with props

`
const [disabledTouch, setDisabledTouch] = useState(false)

<FlatList
          data={data}

           // fires when user

[2020-09-06 12:12] grahammendick opened #225 "Use ViewPager2 dep from maven, instead of fork from github"
cc @troZee

Thanks, your project helped me add `ViewPager2` (for RTL support) to the [TabBar component of my navigation library for React Native](https://grahammendick.github.io/navigation/documentation/native/tab-bar.html). So here I am returning the favour.

When you changed to `ViewPager2` you copied the `ViewPager2` source code into your own repository. This was to work around an [issue where

[2020-09-07 08:16] ZeroJian commented on #174
same problem
@react-native-community/viewpager": "^4.0.1"

like this:
https://sentry.io/share/issue/c8bae7c02dc74e6f87270a02d797f389/

[2020-09-07 20:51] manuhook commented on #164
@felipeViana can you explain plz your solution please with react-native-tab-view ?

[2020-09-08 01:38] DKbyo commented on #222
Just for the record, I was using react-native 0.61.5 and got a blocking issue `Module hmr client is not a registered callable module` that it seems related to hot reloading, So, after saw 4.x has some issues related with fast refresh I decided to downgrade to 3.3.1 and everything is working again.

[2020-09-08 15:52] AleeeKoi opened #226 "Couldn't find a navigation context"
Hello!
All works fine except for the assignment of the ref property.
If I create a reference in my functional component like this:

```const viewPageRef = React.useRef()```

an passing to the ViewPage component:

[code]

I got the following error:

```Couldn't find a navigation context. Have you wrapped your app with 'NavigationContainer'? See https://reactnavigation.org/docs/getting-started for s

[2020-09-12 05:03] muhammadwafa commented on #219
Same Problem, I have opened almost the same problem on `android 5.0 and 5.0.2 API 21`.

To see the problem once test with a `FlatList` or A `heavy` Component within `viewpager pages`. and also render them condtionally. Please be inform this problems is only for the first renders, as it gets render but nothing get displayed everything is blank page. but when I call `page.setPage` function everythin

[2020-09-12 07:09] karanasthana commented on #104
Hey!
Any updates on this? Is this somewhere in the pipeline?

[2020-09-14 02:20] vinhtran6921 opened #227 "How to prevent render all component at the same time?"
I had 3 view into Viewpager. every component had call fetch APIs. But it call at the same time when init so it call fetch 5-6 apis. Is there any props for prevent it. Thanks all

[2020-09-15 13:57] grkemtneri opened #228 "Viewpager is getting all children hight"
# Bug report

Viewpager is getting all children hight

![untitled](https://user-images.githubusercontent.com/17049862/93219491-1d6a6380-f774-11ea-9fe3-22f974d32eae.gif)

## Environment info

`react-native info` output:

[code]

Library version:v4.1.6

## Reproducible sample code

[code]

[2020-09-15 22:22] tiagobbraga commented on #72
Modification in the last step using with RN 0.63.2 and React 16.13.1

Instead of
[code]

this
[code]

[2020-09-17 11:17] troZee commented on #227
Lazy load is not currently supported. More you can find here:
https://github.com/react-native-community/react-native-viewpager/issues/104#issuecomment-691431236

[2020-09-17 11:17] #227 closed

[2020-09-21 10:17] Sofianio commented on #164
I hope this gets fixed soon, I am uncomfortable using 2 different TouchableOpacity for iOS and Android

[2020-09-21 13:39] xiyunanhai1028 commented on #101
you can set setPageWithoutAnimation in componentDidUpdate,like this:
componentDidUpdate(){
        this._viewPager.current!.setPageWithoutAnimation(videoindex)
    }

[2020-09-23 08:22] maystrenkoYurii commented on #164
when fixed this issue?

[2020-09-25 08:41] tmitchel2 opened #231 "[next] pageMargin prop does not work"
# Bug report

## Summary

pageMargin prop does not work correctly in v4.1.6, it does in v3.3.1.  In v3 it works as expected by showing a gap during page transition, however in v4 the margin is added to the whole component and is visible while not transitioning.  I have only tested this on android.  I presume this has something to do with the upgrade to viewpager2.

## Environment info

`react-nati

[2020-09-26 01:21] tree1891 commented on #212
It does not work with v 3.3.0
It shows only if touch

[2020-09-26 04:22] tree1891 commented on #122
How to fix in Expo?

[2020-09-26 10:40] thanhdevapp commented on #173
same problem Android when user viewpager and creatweNativeStackNavigator

[2020-09-26 10:45] tree1891 opened #232 "Paging broken and some page no rendered with drawer navigation"
If go forward and back by drawer navigation, viewpager's paging is broken and some pages are not rendered.
react-native-viewpager: 3.3.1, 4.1.16

System:
    OS: Windows 10 10.0.18363
  Binaries:
    Node: 12.16.3
    Yarn: 1.22.4
    npm: 6.14.4
    Watchman: Not Found
  SDKs:
    Android SDK:
      API Levels: 23, 25, 26, 27, 28, 29
      Build Tools: 25.0.3, 26.0.3, 27.0.3, 28.0.3, 29.0.2, 29.0

[2020-09-27 07:32] tree1891 commented on #219
page.setPage() does not fix it.

[2020-09-28 03:06] eomttt commented on #104
i want lazy loading anyone has another ways?

[2020-09-29 11:00] troZee opened #233 "Roadmap"
## Revert stable version of ViewPager on Android (version v4.2.0) (@troZee)

In the 4.x.x version, native implementation of ViewPager has been updated to a higher version, which is [V2](https://developer.android.com/jetpack/androidx/releases/viewpager2). V2 version uses another implementation (Recycler View) than V1. Community noticed lots of issues in the V2 version, hence I would like to revert

[2020-10-02 11:05] qasim90 commented on #149
This should be documented somewhere so people don't have to dig through code.

[2020-10-02 18:46] albert-carreras commented on #206
Positive pageMargin works, but negative doesn't indeed.

[2020-10-05 13:43] davidg327 commented on #206
neither does it work with the positive,

[2020-10-05 16:10] Rolstenhouse commented on #183
Same issue here. Just received a crash report from a user

[code]

[2020-10-06 03:24] Rizesocialmedia commented on #227
I controlled the rendering of components based on the current selected index of view pager.
`        <ViewPager
          style={styles.viewPager}
          overScrollMode={"auto"}
          initialPage={0}
          orientation={"vertical"}
          pageMargin={30}
          onPageSelected={this.onPageSelected}

          {/* {videoModal.map((item, index) => { */}
          {videosList.map((item

[2020-10-06 03:27] bygirish commented on #227
I controlled the rendering of components based on the current selected index of view pager.
`        <ViewPager
          style={styles.viewPager}
          overScrollMode={"auto"}
          initialPage={0}
          orientation={"vertical"}
          pageMargin={30}
          onPageSelected={this.onPageSelected}

          {videosList.map((item, index) => {
            return (
              <Vie

[2020-10-07 13:31] infothien commented on #232
I got the same issue on with android, IOS is working fine. Is there any solution for it :(

[2020-10-08 06:45] yanisdb opened #234 "Disabling end scroll indicator on Android"
# Question
Hi,
I was just wondering if there are any ways to disable/hide the "end scroll indicator" (see image bellow) on Android?

![image](https://user-images.githubusercontent.com/17860659/95424043-5a281580-0942-11eb-8617-3df3749290da.png)

Thank you

[2020-10-09 03:28] mqtik opened #235 "-"

[2020-10-09 03:31] mqtik commented on #235
Can someone delete this?

[2020-10-09 08:12] #235 closed

[2020-10-09 23:48] mqtik commented on #235
I though it was fixed, sorry.
We can't use FlatList to render View keys

[2020-10-10 00:31] mqtik commented on #235
@troZee would you reopen this?
Thanks

[2020-10-10 04:49] eomttt commented on #143
For me sometimes not working well,
in my code
home.tsx
[code]
but sometimes working well, but sometimes show 3 part.
in my case when i fix wrap `<GenreSectionList />` by `<View />`
this problem solved
genreSectionList.tsx
[code]

but i don't know why? anyone has solved?

[2020-10-10 09:39] luogao commented on #164
I found a solution ref this comment https://github.com/react-native-community/react-native-viewpager/issues/73#issuecomment-562950417

[code]

and if you are using `FlatList` or `ScrollView` with  ViewPager
change
`import { FlatList } from 'react-native'`
to
`import { FlatList } from 'react-native-gesture-handler'`

Thank you @ljsalm089  @Fortidude

[2020-10-10 19:10] mqtik commented on #233
Is there an onLoaded function?

[2020-10-12 10:35] infothien commented on #232
@tree1891 sorry, did you figure out how to deal with it

[2020-10-12 10:44] ramonvermeulen commented on #167
Didn't work for me unfortunately

[2020-10-13 10:55] huurray commented on #132
any solutions?

[2020-10-15 09:33] Simon-44 commented on #232
Hello,

Same problem, downgrading to 3.3.1 "fixed" this.

[2020-10-15 09:34] Simon-44 commented on #222
I had the same problem, I downgraded too and it works.

[2020-10-15 17:26] mqtik opened #236 "Curl not working properly"
The curl effect it's not working properly for me. When you start sliding, it always goes on the X axis,
![image](https://user-images.githubusercontent.com/42002579/96164741-098c5b80-0ef2-11eb-821c-1095f5052389.png)

Has someone else also experience this?
<ViewPager
      initialPage={page - offset}
      ref={vpRef}
      style={[props.style, StyleSheet.absoluteFillObject, {flex:1}]}
      onStart

[2020-10-15 17:26] mqtik commented on #236
It's like, it doesn't blend..

[2020-10-16 04:03] jdconley commented on #173
I also have this issue with a new app. I see it when I render a different set of screens inside a `createNativeStackNavigator`, where the screen that has the `ViewPager` as a child is no longer in the native stack navigator. I'm on 4.1.6, react-native-screens 2.11.0, react-native 0.63.x...

Anyone have a workaround?

[2020-10-18 15:48] teofanes-moreira-tiffin-foods commented on #174
@troZee any updates about that issue? some users getting this crash yet, all in background state.
version `"@react-native-community/viewpager": "4.1.6"`

[2020-10-18 20:33] #228 closed

[2020-10-20 16:46] dhirajanand014 commented on #196
How do we about implementing it customly. This is much required!

[2020-10-21 02:36] Bang9 commented on #183
+1

[2020-10-22 06:48] yodaheis commented on #233
Any ETA on this? Also which is the most stable version as far as Android is concerned?

[2020-10-22 06:50] yodaheis commented on #186
Facing multiple pages rendered for children within the page on Android as well.

expo: 39.0.3
problem exists in these versions that I have checked so far: 4.1.6 as well as 3.3.1

[2020-10-24 06:13] mqtik commented on #236
Android currently does not support curl type

[2020-10-25 16:24] julienpetit commented on #236
Hello @mqtik,

I'm experiencing the same issue. The curl mode worked properly until yesterday when I upgraded my project from Expo v36.0 to v39.0.
Now, the curl is shown, but locked on the X axis.

I don't know if Expo is the problem, or if when I upgraded Expo version it has updated some dependencies as well.
Do you use Expo as well or pure React Native?

[2020-10-25 17:15] troZee commented on #233
It is hard to say about ETA. I will try to revert android to the stable one in this week. I will put an update here.

[2020-10-28 10:52] troZee commented on #174
The ViewPager has been reverted to a stable version in 4.2, so you can try this version.

[2020-10-28 10:55] troZee commented on #233
@yodaheis FYI: The ViewPager has been reverted to a stable version in 4.2

[2020-10-28 13:15] ObidosDev commented on #174
@troZee gonna try it, thanks for notification

[2020-10-30 12:57] batical commented on #236
another interesting point with curl.

If you set transition to curl, tap on the side of the screen start the transition to another page.
Without curl, tap do nothing

[2020-10-30 13:40] julienpetit commented on #236
@batical, yes this is the native behavior of the Pager on iOS. The pain point of that is we cannot disable the tap from the lib react-native-viewpager for now. It means we can't add buttons in this area of the screen because the pager will change the page instead of firing onPress on the button.

[2020-10-30 16:58] kim791 opened #240 "ViewPager setPage method does not work on Android"
## Environment

{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },
  "dependencies": {
    "@react-native-community/masked-view": "0.1.10",
    "@react-native-community/viewpager": "^4.2.0",
    "@react-native-picker/picker": "^1.8.

[2020-10-31 05:01] CyberMew commented on #231
Please try to see if the workaround inside can help you https://github.com/callstack/react-native-viewpager/issues/233

[2020-11-02 12:56] tmitchel2 commented on #231
Upgraded to 4.2.0 and i couldnt even compile for ios...

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_RCTOnPageScrollStateChanged", referenced from:
      objc-class-ref in libreact-native-viewpager.a(ReactNativePageView.o)
  "_OBJC_CLASS_$_RCTOnPageScrollEvent", referenced from:
      objc-class-ref in libreact-native-viewpager.a(ReactNativePageView.o)
  "_OBJC_CLASS_$_RCTOnPageSel

[2020-11-03 17:05] maystrenkoYurii opened #241 "ios rundom handle onPress"
ios rundom handle onPress item FlatList if onscroll tabs. Android work perfect

I use
"@react-native-community/viewpager": "4.2.0",
"@react-navigation/material-top-tabs": "5.3.4",
 "react-native-tab-view": "2.15.2",
"react-native-tab-view-viewpager-adapter": "1.1.0",

[2020-11-11 19:30] tslater commented on #104
@alpha0010 Thanks for sharing your solution1 I've verified it does work, with one caveat. When I prepend the list, it looses the position of the current page. If I make the buffer sufficiently large, this doesn't happen. Wondering if you have any thoughts as to why this might be the case? I'm hoping for a way to rectify.

[2020-11-24 06:58] ArifSanaullah commented on #163
{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },
  "dependencies": {
    "@expo/vector-icons": "^10.0.0",
    "@react-native-community/checkbox": "^0.4.1",
    "@react-native-community/datetimepicker": "3.0.0",
    "antd-mobile":

[2020-11-24 09:09] tankers746 commented on #164
I was able to solve this by wrapping
ViewPager in `<NativeViewGestureHandler  disallowInterruption={true}>`
from `react-native-gesture-handler`

E.g.
[code]

This is how FlatList exported from react-native-gesture-handler works as well.

[2020-11-26 14:49] troZee commented on #240
https://github.com/callstack/react-native-viewpager/blob/master/example/ViewPagerExample.js#L110

Pass number instead of string. Have you got a typing sytem inside the project ?

[2020-11-26 14:49] #240 closed

[2020-11-26 15:19] troZee commented on #225
@grahammendick
Thank you for a feedback. I will convert your topic into feature request, bc it would be nice to use official version of library instead of my fork.

[2020-11-26 15:21] enagorny commented on #129
Ideally would be good to have react-native-viewpager as controlled component. Instead of `initialPage` might be better to have `page` which will control selected page.

[2020-11-26 15:23] troZee commented on #225
So what should be done in this issue:
- change `implementation 'com.github.troZee:ViewPager2:v1.0.6'` to `implementation "androidx.viewpager2:viewpager2:1.0.0"`
- Apply [this fix](https://github.com/grahammendick/navigation/blob/2800d42c36bb711819c423de93e7167581c21777/NavigationReactNative/src/android/src/main/java/com/navigation/reactnative/TabBarPagerRTLManager.java#L126)

[2020-11-26 15:31] troZee commented on #129
But in this solution, you have 2 source of truth which is state inside the component and the current native. So let me describe your solution for better understanding:
 - VP has not got a onPageSelected callback
- React component keeps state of VP current page
- User swipes to the next page using gesture
- Current page number is 2 and your state has not been updated

So the question is, how we sho

[2020-11-26 15:37] enagorny commented on #129
Without callback which will be executed after VP it wouldn't be possible.

For the controlled components https://reactjs.org/docs/forms.html#controlled-components will need some `onChange` callback which will update parent state usually.

[2020-11-27 07:33] lishuo0710 opened #248 "Default scroll offset"
## Ask your Question

viewpager on android  slide to next page when scroll offset up to about 60% , how to change the default offset? i hope page move to next page when i scroll 30% offset on android

[2020-11-27 08:22] troZee commented on #248
You can to do this on JS side inside the method `onPageScroll`. Then you need to calculate 30% of width and if this condition is fulfilled, you need to call https://github.com/callstack/react-native-viewpager/blob/master/example/ViewPagerExample.js#L116

Bc I can see, it is possible on native side using some kind of workarounds https://stackoverflow.com/questions/17318625/make-viewpager-snap-with-

[2020-11-27 10:54] bonlemuel commented on #167
Currently experiencing this issue

[code]

I'm trying to integrate a dialog component inside one of the pages. It works well on android. But not on iOS. I'm trying to find the cause. I tried to place my dialog component on its parent module. but still the same. Someone might know a fix or any advise? Thanks!

[2020-11-27 16:52] troZee commented on #167
Could you provide a code snippet ?

[2020-11-28 05:11] PankajChaturvediDtechies opened #250 "TextInput is not focusing on multiple pages"
## Ask your Question

Hello everyone I am using a view pager for the video scrolling page and using the bottom sheet to add comments, now the text input is not focusing in development mode, and in production, it takes two taps to be focused.
Even using the normal code without a video page I am facing the same issue.
this is my simple code where textinput is not getting fuscused. tried with all opt

[2020-11-29 07:50] olkunmustafa commented on #132
did you find any solutions to fix that?

[2020-11-29 08:48] Relax594 commented on #132
I've upgraded to the latest version 4.x and it's working again.

[2020-11-30 07:10] troZee commented on #250
What version is used in above code ?
Could you check 4.2.0 ?

[2020-11-30 11:28] magicismight commented on #250
Same issue on @4.2.1

[2020-11-30 12:04] magicismight commented on #250
#155

[2020-11-30 15:07] joebochill commented on #167
I am getting the same error as @bonlemuel. Mine does not seem to be related to dialogs though. I get the error when the ViewPager is rendered conditionally after some asynchronous data is loaded.

Simplified example:
[code]

The other component doesn't seem to matter...I can return null and still get the same error.

Downgrading to 3.x makes the issue go away, but I was using 4.x before I upgraded

[2020-11-30 15:53] MateWW commented on #231
@tmitchel2 I have tested it on IOS and Android with version 4.2.1 and seems to work correctly. Could you check if it work for you now otherwise please provide some better reproduction.

#### Android/IOS:
![image](https://user-images.githubusercontent.com/16048381/100631489-0e835e00-332c-11eb-8a98-209ed169c2a0.png)

#### Code:
[code]

[2020-11-30 16:17] tmitchel2 commented on #231
@MateWW yea i presume that is because it was rolled back in 4.2.* because of issues like this.  I don't think that means the issue is closed / forgotten about though.

[2020-11-30 16:27] bonlemuel commented on #167
Hi, I can't provide the whole snippet. But here's the structure of the components. (These only to show how I render each). This component is where the dialog component is being rendered.

**Main.js**
[code]

**ComponentA.js**
[code]

**FormComponent.js**
[code]

**DialogComponent.js**
[code]

I have verified that the dialog component causes the issue. I tried to comment it, it works. But I can't r

[2020-11-30 17:27] joebochill commented on #167
I narrowed down the problem in my case to version 4.1.0.

4.0.1: works as expected
4.1.0: throws the ViewController error above and the app crashes.

[2020-11-30 17:48] troZee commented on #231
@tmitchel2 to avoid any confusion, I labeled this issue and changed a title

[2020-12-01 22:37] elkinjosetm commented on #164
Updating to v4.2.x seems to fix this issue for me.

Based on the release notes, the Android version was reverted to the latest stable codebase (v3.3.0).

[2020-12-02 04:33] PankajChaturvediDtechies commented on #250
version of viewpager is 4.1.6

[2020-12-02 08:08] troZee commented on #164
@elkinjosetm
Yep, but a problem still remain on next version

[2020-12-02 10:27] MateWW commented on #231
@troZee @tmitchel2 I have prepared fix for this issue.
Take a look on that https://github.com/callstack/react-native-viewpager/pull/256

[2020-12-02 12:40] troZee commented on #231
you can find this fix in 5.0.4 version

[2020-12-02 12:40] #231 closed

[2020-12-03 13:25] bonlemuel commented on #167
@joebochill

I confirm that **4.0.1** is also working on my end.

Thank you! Saved me a lot of time figuring out a fix.

[2020-12-05 07:10] lishuo0710 commented on #248
@troZee the link is 404 https://github.com/callstack/react-native-viewpager/blob/master/example/ViewPagerExample.js#L116,i will
try to handle that  on native side,thanks

[2020-12-05 07:10] #248 closed

[2020-12-07 12:36] MateWW commented on #250
@PankajChaturvediDtechies Hi, I'm trying to reproduce your problem but it work's for me on `latest` version as well as `next`.
Could you provide some reproduction repository or check if it works with latest version?

[2020-12-08 14:09] #225 closed

[2020-12-08 14:11] #232 closed

[2020-12-08 14:27] #178 closed

[2020-12-08 14:30] #179 closed

[2020-12-08 14:34] #186 closed

[2020-12-08 14:40] troZee commented on #212
@tree1891 @srfaytkn

[2020-12-08 14:43] #217 closed

[2020-12-08 14:49] troZee commented on #234
please use `overScrollMode`

[2020-12-08 14:49] #234 closed

[2020-12-08 14:52] #11 closed

[2020-12-08 14:53] #34 closed

[2020-12-08 14:55] #49 closed

[2020-12-08 15:07] srfaytkn commented on #212
why did you close the issue? @troZee

[2020-12-08 15:09] MateWW commented on #206
@davidg327 Positive `pageMargin` works on example app even with strange variations of `width` and `height`.
Could you provide reproduction code which will allow us to reproduce your problem?
About negative once. We currently doesn't support them and have no plan for it in nearest future.

I'll close this issue for now.
Fell free to reopen it with reproduction code

[2020-12-08 15:09] #206 closed

[2020-12-08 15:47] troZee commented on #212
I was not able to reproduce this issue

[2020-12-09 16:29] tcorreiaubi commented on #132
@Relax594 can you please point out what version you are using and show a basic snippet of the code? I'm still facing the same issue as stated on the issue

[2020-12-13 19:23] troZee commented on #164
This issue has been fixed in 5.0.5

[2020-12-16 21:09] thsdeveloper123 commented on #163
same issue here.

[2020-12-24 23:49] avidhaus-adeel commented on #248
@lishuo0710 are you able to handle this on native side? If so, can you please share example.
Thank You

[2020-12-25 01:12] lishuo0710 commented on #248
try this : https://stackoverflow.com/questions/17318625/make-viewpager-snap-with-shorter-drag/17322361#17322361

[2020-12-28 08:09] troZee opened #266 "feat: overdrag property"
remove bouncing on drag

_Originally posted by @Aryk in https://github.com/callstack/react-native-viewpager/issues/114#issuecomment-751523472_

[2020-12-28 10:47] troZee commented on #129
Hello everyone,
We have collected all yours suggestions and created a new PoC https://github.com/callstack/react-native-viewpager/pull/268

Feel free to comment

[2020-12-28 22:47] avidhaus-adeel commented on #248
@lishuo0710 can you please explain this. It is handled on native side and I don't have experience on native android coding

[2020-12-29 01:20] lishuo0710 commented on #248
you can edit the onPageScrolled method(the 0.7 and 0.3 is offset ) in node_modules\@react-native-community\viewpager\android\src\main\java\com\reactnativecommunity\viewpager\ReactViewPager.java
[code]

[2020-12-31 18:26] avidhaus-adeel commented on #248
where did you define mLastPositionOffset ?

[2021-01-03 18:06] sunitdeswal commented on #37
Hi, Is this issue resolved in 4..2.2 ?
If yes then how to to set next and previous item visibility in 4.2.2 ?

[2021-01-03 18:08] troZee commented on #37
It is not resolved yet ;'(

[2021-01-04 01:27] lishuo0710 commented on #248
[code]

[2021-01-06 17:19] SaidulBadhon opened #272 "PLEASE HELP !!! setPage or setPageWithoutAnimation is not working."
## Ask your Question
HI, im unable to use setPage to set a selected page from a button press.
I want to go from page 1 to page 5 with a button press.
Can anyone please tell me how can I do it?

[2021-01-07 02:43] a-tanyeres commented on #272
How are you using it?

like this?
`myPager.current?.setPage(page);`

[2021-01-08 11:14] troZee commented on #272
StackOverflow is amazing for Q&A: it has a reputation system, voting, the ability to mark a question as answered. Because of the reputation system it is likely the community will see and answer your question there. This also helps us use the GitHub bug tracker for bugs only.

Will close this as this is really a question that should be asked on StackOverflow.

answer is here:
https://github.com/cal

[2021-01-08 11:14] #272 closed

[2021-01-12 08:53] troZee commented on #183
@gabrielbull could you test it ?

[2021-01-12 08:55] troZee commented on #173
Fix has been applied https://github.com/callstack/react-native-viewpager/pull/271

[2021-01-12 08:55] #164 closed

[2021-01-12 10:28] arekkubaczkowski commented on #174
@ObidosDev  I tried to reproduce it on 5.x version and couldn't make appears this error. Could you please provide more details about it?

[2021-01-12 10:46] arekkubaczkowski commented on #222
@skychx couldn't reproduce it on 5.x version, could you please check it as well?

[2021-01-12 16:18] gabrielbull commented on #183
lgtm

[2021-01-13 08:21] arekkubaczkowski commented on #132
Your issue is strict related to wrong styling, when you have two children of ScrollView and the first item has `height=200` and the second one `flex: 1` then it will always adjust itself to the screen height.

Beside that any other issues which may be related with it should be fixed in 5.x version

[2021-01-14 13:14] #266 closed

[2021-01-15 11:49] hengkx commented on #104
Do you have any solutions? We need this function very much. Thank you very much.

[2021-01-21 11:16] zhuiye opened #278 "Android (Real machine) : TextInput cannot trigger the paste function in ViewPage"
## Ask your Question

Thanks for providing such a great library. In the process of using it recently, I found that if TextInput is nested in ViewPage, TextInput cannot trigger the paste function, please see the animation below.

![reportView](https://user-images.githubusercontent.com/26075200/105338604-b7f11c80-5c16-11eb-9873-6e5f71657d75.gif)

here is my code

[code]

I accidentally discovered th

[2021-01-21 11:55] troZee commented on #278
Hey,
Thank you for reporting an issue. Could you try to test it on 3.x and next(5.x) version ?

[2021-01-22 01:51] zhuiye commented on #278
@troZee Thank you for your reply. I tried it in the 3.3.1 and 5.0.5 versions, but it is still the same and the paste function cannot be triggered.

[2021-01-27 23:51] goleary commented on #33
This issue should be reopened until the documentation is updated to reflect this behavior.  I just spent 20 minutes trying to figure out how to use this callback because of the lack of explanation.

[2021-01-27 23:53] goleary opened #280 "Lack of documentation for onPageSelected"
I just spent 20 minutes trying to figure out how to use this callback because of the lack of explanation on how to access the index of the selected page.

after digging through this repo I figured this out:
[code]
Because of another issue (#33) that was opened due to the lack of documentation of this prop.

[2021-01-28 14:38] MateWW commented on #280
We linked example in `README` should be fine now.

[2021-01-28 14:38] #280 closed

[2021-01-29 10:04] Hasham24 commented on #219
Actually, I have the same issue on ios first array is empty then after API call we set the state but noting show on the screen

[2021-02-02 10:17] Yandamuri commented on #32
@fossage got this error when I did clean build for some other purpose and  resolved just by closing and opening the project in Studio. what would be the reason behind this error and Can you suggest permanent solution for this?

[2021-02-02 11:06] troZee commented on #32
What version of library ?

[2021-02-03 05:20] Yandamuri commented on #32
@troZee "@react-native-community/viewpager": "5.0.5",.

No, I am not using Expo.

[2021-02-03 13:48] troZee commented on #32
@Yandamuri I am not able to reproduce it https://github.com/troZee/viewPagerExample

Please provide a simple repository with reproducible example

[2021-02-03 13:50] troZee commented on #226
Could you compare with our example ? In the example we are also using rn v5

https://github.com/callstack/react-native-viewpager/blob/master/example/src/App.tsx

[2021-02-04 23:59] leoafarias commented on #250
I am having the same issue. Tried to create a snack but it happens in a specific case. For me it only happens when I open the screen in a materialBottomBar navigator. I am guessing that it could have something to do with the height.

[2021-02-05 04:09] Yandamuri commented on #32
@troZee so you meant to say that no matter how many times you do clean build you didn't get this error, Right!

If this the case, May I know your react-native and react-native-viewpager versions respectively?

[2021-02-08 08:39] LenaZhuk opened #282 "[Android] Crash: could not find Fragment constructor"
## Environment

"react-native": "0.62.2"
"@react-native-community/viewpager": "^5.0.5"

Devices: Samsung Galaxy A31 (Android 10), Samsung Galaxy A11 (Android 10), Samsung Galaxy J5 (Android 9)

## Description

Crash in Firebase Crashlytics report:

Caused by androidx.fragment.app.Fragment$InstantiationException
Unable to instantiate fragment com.reactnativecommunity.viewpager.ViewPagerFragment: co

[2021-02-08 08:48] LenaZhuk opened #283 "[Android] Crash: NoSuchMethodException ViewPagerFragment.<init>"
## Environment

"react-native": "0.62.2"
"@react-native-community/viewpager": "^5.0.5"

Devices: Samsung Galaxy A31 (Android 10), Samsung Galaxy A11 (Android 10), Samsung Galaxy J5 (Android 9)

## Description

Crash in Firebase Crashlytics report:

Caused by java.lang.NoSuchMethodException
com.reactnativecommunity.viewpager.ViewPagerFragment.<init> []

## Stack trace

Caused by java.lang.NoSuchMet

[2021-02-08 09:16] troZee commented on #283
Hey @LenaZhuk
Thank you for reporting an issue. Do you know, how to reproduce it ?

[2021-02-08 09:16] troZee commented on #282
Hey @LenaZhuk
Thank you for reporting an issue. Do you know, how to reproduce it ?

[2021-02-08 09:26] lahivee commented on #188
Did you find a solution or workaround for this? Really hanging on this one :/

[2021-02-08 09:28] LenaZhuk commented on #282
@troZee Hi, as described, this is from the firebase crashlytics report, so I have only a stack trace.

Some context:
The ViewPager is the main component that is used to display the video feed to our users. So the app displays it right after the splash screen (almost at launch).

[2021-02-08 12:23] arekkubaczkowski commented on #224
@jdperos it's already fixed in https://github.com/callstack/react-native-viewpager/pull/284

[2021-02-09 09:54] arekkubaczkowski commented on #283
@LenaZhuk I've investigated a bit into this issue and I've found potential solution but unfortunately because this error not occurs on local environment I am not able to reproduce it and I want to ask you for do it once we release the next version and let us know whether it helped. Thanks!

[2021-02-09 21:08] LenaZhuk commented on #283
@arekkubaczkowski Thank you!

[2021-02-11 16:16] IPWright83 opened #287 "How to determine page number in an event?"
## Ask your Question
How do I obtain the page number scrolled to in the events (e.g. the onPageScroll event). I can't seem to find anything in the synthetic event to work out which page number I'm on.